<template>
  <section id="addNewEvent">
    <div class="container--header">
      <div class="header--top">
        <div class="top--left">
          <h1><b>Add</b> New Event</h1>
        </div>
        <div class="top--right">
            <router-link to="/news">
              <base-btn class="button-fluid"
                      :data="deleteBtn"></base-btn>
            </router-link>
          </div>
      </div>
    </div>
    
    <div class="container--inputs">
      <base-input v-for="(input, index) in inputs"
                  :key="input.id"
                  :data="input"
                  @input="updateValue($event, index)"></base-input>
    </div>
    <div class="container--button">
      <base-btn :data="submitBtn"></base-btn>
    </div>
  </section>
</template>

<script>
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'addNewNews',
  components: {
    baseInput,
    baseBtn
  },
  props: {
    selectValue: String
  },
  created () {
    this.inputs[0].options = this.$store.getters.getProgramTitles;
  },
  data() {
    return {
      inputs: [
        {
          type: 'select',
          lbl: 'Program Name',
          name: 'title',
          value: this.selectValue,
          options: null
        },
        {
          type: 'text',
          lbl: 'News Title',
          name: 'name',
          value: '',
          state: null,
          helper: "Enter your update's title"
        },
        {
          type: 'photo',
          lbl: 'Upload Image',
          name: 'image',
          value: '',
          state: null,
          helper: "Upload an image for your event"
        },
        {
          type: 'textarea',
          lbl: 'Update Description',
          name: 'description',
          value: '',
          state: null,
          helper: "Enter a description of your update"
        }
      ],
      deleteBtn: {
        text: 'Cancel News',
        iconString: 'button--icon-right fa fa-times-circle-o',
        action: () => {
          this.$router.push({ name: 'News' });
        }
      },
      submitBtn: {
        text: 'Publish News',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$store.commit('createOrUpdateNews', {
            type: 'create',
            inputs: this.inputs
          });
          this.$router.push({ name: 'News' });
        }
      }
    }
  },
  methods: {
    updateValue (e, index) {
      this.inputs[index].value = e;
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

.header--top
  justify-content: flex-start

.container--inputs
  display: flex
  flex-wrap: wrap
  padding: 0 $s1

.container--button
  padding: 0 $s1

  button.button
    margin: 0
</style>