<template>
  <section id="addNewEvent">
    <div class="container--header">
      <div class="header--top">
        <h1><b>Edit</b> {{ program.title }}</h1>
      </div>
    </div>
    
    <div class="container--inputs">
      <base-input v-for="(input, index) in inputs"
                   :key="input.id"
                   :data="input"
                   @input="updateInputValues($event, index)"></base-input>
    </div>

    <div class="container--choices">
      <choice-progression :data="choices[0]"></choice-progression>
      <choice-progression :data="choices[1]"></choice-progression>
    </div>

    <div class="container--button">
      <base-btn :data="cancelBtn"></base-btn>
      <base-btn :data="submitBtn"></base-btn>
    </div>
  </section>
</template>

<script>
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';
import choiceProgression from '../secondary-flows/choice-progression.vue';

export default {
  name: 'editEvent',
  components: {
    baseInput,
    baseBtn,
    choiceProgression
  },
  props: {
    program: Object
  },
  data() {
    return {
      inputs: [
        {
          type: 'text',
          lbl: 'Enter Your Program Name',
          name: 'title',
          value: this.program.title,
          state: null,
          helper: "Enter your programs's title"
        },
        {
          type: 'textarea',
          lbl: 'Enter Your Program Description',
          name: 'description',
          value: this.program.description,
          state: null,
          helper: "Enter your programs's description"
        },
        {
          type: 'text',
          lbl: 'Enter Your Program address',
          name: 'address',
          value: this.program.address,
          state: null,
          helper: "Enter your programs's address"
        },
        {
          type: 'text',
          lbl: 'Enter Your Contact Phone Number',
          name: 'phone',
          value: this.program.phone,
          state: null,
          helper: "Enter your programs's phone"
        },
        {
          type: 'text',
          lbl: 'Enter Your Program Contact Name',
          name: 'contact_name',
          value: this.program.contact_name,
          state: null,
          helper: "Enter your programs's contact name"
        },
        {
          type: 'text',
          lbl: 'Enter Your Program Website',
          name: 'website',
          value: this.program.website,
          state: null,
          helper: "Enter your programs's website"
        },
      ],
      choices: [
        {
          instructions: {
            heading: 'Choose the <b>Age and Gender</b> this program serves',
          },
          categories: [...this.program.choices[0].categories],
        },
        {
          instructions: {
            heading: 'Select a <b>Category</b>',
          },
          categories: [...this.program.choices[1].categories]
        }
      ],
      submitBtn: {
        text: 'Save Changes',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$store.commit('updateProgram', { program: this.program });
          this.$router.push({ name: 'Active Programs' });
        }
      },
      cancelBtn: {
        text: 'Cancel Changes',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$router.push({ name: 'Active Programs' });
        }
      }
    }
  },
  methods: {
    updateInputValues: function(e, index) {
      this.program[this.inputs[index].name] = e;
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

#addNewEvent
  max-height: 100vh
  overflow: auto

.header--top
  justify-content: flex-start

.container--inputs
  display: flex
  flex-wrap: wrap
  padding: 0 $s1

.container--button
  padding: 0 $s1

  button.button
    margin: 0
</style>