<template>
  <section id="addNewEvent">
    <div class="container--header">
      <div class="header--top">
        
        <h1><b>Edit</b> Event</h1>
      </div>
    </div>
    
    <div class="container--inputs">
      <base-input v-for="(input, index) in inputs"
                  :key="input.id"
                  :data="input"
                  @input="updateValue($event, index)"></base-input>
    </div>
    <div class="container--button">
      <base-btn :data="cancelBtn"></base-btn>
      <base-btn :data="submitBtn"></base-btn>
    </div>
  </section>
</template>

<script>
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'addNewEvent',
  props: {
    event: Object,
    selectValue: String
  },
  components: {
    baseInput,
    baseBtn
  },
  created () {
    this.inputs[0].options = this.$store.getters.getProgramNames;
  },
  data() {
    return {
      inputs: [
        {
          type: 'select',
          lbl: 'Program Name',
          name: 'title',
          value: this.selectValue,
          options: null
        },
        {
          type: 'text',
          lbl: 'Event Name *',
          name: 'eventname',
          value: this.event.name,
          state: null,
          helper: "Enter your event's title"
        },
        {
          type: 'date',
          lbl: 'Start Date *',
          name: 'startdate',
          value: this.event.startdate,
          state: null,
          helper: "Pick the start date of your event"
        },
        {
          type: 'date',
          lbl: 'End Date *',
          name: 'enddate',
          value: this.event.enddate,
          state: null,
          helper: "Pick the end date of your event"
        },
        {
          type: 'text',
          lbl: 'Start Time - ex. 12:00 or 17:00',
          name: 'starttime',
          value: this.event.starttime,
          state: null,
          helper: "What time does your event start"
        },
        {
          type: 'text',
          lbl: 'End Time - ex. 8:00 or 17:00',
          name: 'endtime',
          value: this.event.endtime,
          state: null,
          helper: "What time does your event end"
        },
        {
          type: 'textarea',
          lbl: 'Event Description',
          name: 'description',
          value: this.event.description,
          state: null,
          helper: "Enter your event's description"
        },
        {
          type: 'text',
          lbl: 'Address',
          name: 'address',
          value: this.event.address,
          state: null,
          helper: "Enter your event's address line 1"
        }
      ],
      submitBtn: {
        text: 'Save Changes',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$store.commit('createOrUpdateEvent', {
            type: 'update',
            inputs: this.inputs
          });
          this.$router.push({ name: 'Calendar' });
        }
      },
      cancelBtn: {
        text: 'Cancel Changes',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$router.push({ name: 'Calendar' });
        }
      }
    }
  },
  methods: {
    updateValue (e, index) {
      this.inputs[index].value = e;
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

#addNewEvent
  max-height: 100vh
  overflow: auto

.header--top
  justify-content: flex-start

.container--inputs
  display: flex
  flex-wrap: wrap
  padding: 0 $s1

.container--button
  padding: 0 $s1

  button.button
    margin: 0
</style>