<template>
  <section id="kalendaroo">
    <div class="container--header">
      <div class="header--top">
        <div class="top--left">
          <h1 class="top--left--heading" v-html="organization.name"></h1>
        </div>
        <div class="top--right">
          <base-search></base-search>
        </div>
      </div>
      <div class="header--bottom">
        <router-link to="/kalendaroo/add-new-event">
          <base-btn class="button-fluid txt-lightmagenta" :data="addNewEventBTN"></base-btn>
        </router-link>
        <span>Post important calendar events for parents to see</span>
      </div>
      
    </div>
  
    <div class="container--content">
      <div class="content--view-list">
        <base-event-card v-for="event in events"
                        :key="event.id"
                        :data="event"></base-event-card>
      </div>
    </div>

  </section>
</template>

<script>
import $ from 'jquery';
import { FullCalendar } from 'vue-full-calendar';
import baseSearch from '../base/base-search.vue';
import baseBtn from '../base/base-btn.vue';
import baseFilter from '../base/base-filter.vue';
import baseEventCard from '../base/base-event-card.vue';

export default {
  name: 'kalendaroo',
  components: {
    baseSearch,
    baseBtn,
    baseFilter,
    baseEventCard,
    FullCalendar
  },
  // mounted: function() {
  //   window.jQuery = window.$ = require('jquery');
  // },
  data() {
    return {
      addNewEventBTN: {
        text: 'Add new event',
        iconString: 'button--icon-right fa fa-calendar',
        action: () => {
          console.log('TRIGGER ADD NEW EVENT FLOW');
        }
      }
    }
  },
  computed: {
    organization() {
      // return information about the user (their organization)
      return this.$store.getters.getOrganization;
    },
    events () {
      return this.organization.events;
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'
@import '~fullcalendar/dist/fullcalendar.min.css'

#kalendaroo
  display: flex
  flex-direction: column
  width: 100%

.header--right
  flex-direction: column

.calendar--options
  display: none

  @media screen and (min-width: 850px)
    display: flex
    justify-content: flex-end
    align-items: flex-end
    height: 100%
    margin-left: auto

.calendar--text
  padding: $s0 0
  margin-left: 7px

.calendar--option
  padding: $s0 0
  margin-left: 7px

  &:hover,
  &:focus
    transform: translateY(-1px)
    color: $ltMagenta

  &:active
    transform: translateY(1px)
    color: $dkMagenta

.container--content
  padding: 0 $s1

#calendar
  width: 100%
  margin-top: $s1

  // table,
  // thead,
  // th,
  // th.fc-day-header,
  // td,
  // tr
  // td
  //   border: 1px solid $ltGray !important
    
  //   span
  //     font-size: ms(0)
  //     color: $ltGray

  div.fc-toolbar
    display: none

  th.fc-day-header
    padding: $s0
</style>