<template>
  <section id="news">
    <div class="container--header">
      <div class="header--top">
        <div class="top--left">
          <h1 class="top--left--heading" v-html="organization.name"></h1>
        </div>
        <div class="top--right">
          <base-search></base-search>
        </div>
      </div>
      <div class="header--bottom">
        <base-btn class="button-fluid txt-lightmagenta" :data="postNewUpdateBtn"></base-btn>
        <span>Post important updates for parents to see</span>
      </div>
      
    </div>
  
    <div class="container--content">
      <base-news-card v-for="item in news"
                        :key="item.id"
                        :data="item"></base-news-card>
    </div>
  </section>
</template>

<script>
import baseSearch from '../base/base-search.vue';
import baseBtn from '../base/base-btn.vue';
import baseFilter from '../base/base-filter.vue';
import baseNewsCard from '../base/base-news-card.vue';

export default {
  name: 'news',
  components: {
    baseSearch,
    baseBtn,
    baseFilter,
    baseNewsCard
  },
  computed: {
    organization() {
      // return information about the user (their organization)
      return this.$store.getters.getOrganization;
    },
    news () {
      return this.organization.news;
    }
  },
  data() {
    return {
      postNewUpdateBtn: {
        text: 'Post New Update',
        iconString: 'button--icon-right fa fa-comment-o',
        action: () => {
          this.$router.push({ name: 'Add New News' });
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

#news
  width: 100%

.container--content
  flex-direction: column
</style>