<template>
  <section id="premium-upsell">
    <div v-if="progression.current === 1">
      <div class="container--premiumupsell--top">
        <h1 v-html="currentStep.step"></h1>
        <span>Questions? Contact us at: info@kidgooroo.com 732-655-4006</span>
      </div>

      <div class="container--premiumupsell--information">
        <base-instruction :data="currentStep.instruction"></base-instruction>
        <div class="premeiumupsell--information--legend">
          <div class="legend">
            <p>Verified</p>
            <span>Free</span>
          </div>
          <div class="legend">
            <p class='txt-lightmagenta'>Premium</p>
            <span>$500/Year</span>
          </div>
        </div>
      </div>

      <div class="container--premiumupsell--content">
        <base-feature-collapsible class="feature--collapsible"
                                  v-for="feature in steps[0].features"
                                  :key="feature.id"
                                  :data="feature"></base-feature-collapsible>
      </div>
    </div>

    <div v-if="progression.current === 2">
      <!-- Consistent among all steps -->
      <div class="newprogram--header">
        <h1 v-html="currentStep.step"></h1>
      </div>
      <div class="newprogram--instruction" v-if="currentStep.instruction">
        <base-instruction :data="currentStep.instruction"></base-instruction>
      </div>
      <!-- -->

      <a class="link uppercase">fill with business account contact info<i class="fa fa-id-card-o"></i></a>

      <div class="newprogram--content">
        <base-input v-for="(input, index) in currentStep.inputs"
                    :key="input.id"
                    :data="input"
                    @input="updateVuexInputValue($event, index)"></base-input>
      </div>
    </div>
    
    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="currentStep.btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="currentStep.btns[1]"
                  :disabled="!currentStep.valid"></base-btn>
      </div>
    </div>
    <!-- -->
    
  </section>
</template>

<script>
import baseFeatureCollapsible from '../base/base-feature-collapsible.vue';
import baseInstruction from '../base/base-instruction.vue';
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'premiumUpsell',
  components: {
    baseFeatureCollapsible,
    baseInstruction,
    baseInput,
    baseBtn
  },
  computed: {
    progression () {
      return this.$store.getters.getProgression('premiumupsell');
    },
    steps () {
      return this.$store.getters.getSteps('premiumupsell');
    },
    currentStep () {
      return this.steps[this.progression.current - 1];
    }
  },
  watch: {
    'steps.1.inputs': {
      handler: function() {
        let valid = true;
        this.steps[1].inputs.forEach(input => {
          // if any input state === false, set valid to false
          if (!input.state) valid = false;
        });
        this.$store.commit('setStepValid', {
          flow: 'premiumupsell',
          step: 1,
          state: valid
        });
      },
      deep: true
    },
  },
  methods: {
    updateVuexInputValue (e, index) {
      this.$store.commit('updateVuexInputValue', {
        flow: 'premiumupsell',
        step: this.progression.current - 1,
        index,
        value: e
      });
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

#premium-upsell
  display: flex
  flex-direction: column
  width: 100%
  padding: 0 $s1

  @media screen and (min-width: 700px)
    padding: $s1

.container--premiumupsell--top
  display: flex
  flex-direction: column
  text-align: center

  @media screen and (min-width: 700px)
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%

    h1
      padding: 0

  span
    padding-left: $s0
    font-size: ms(0)

.container--premiumupsell--information
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: $s1

  @media screen and (min-width: 700px)
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    max-width: 900px

.instruction
  width: 100%
  padding: 0

  @media screen and (min-width: 700px)
    width: 70%


.premeiumupsell--information--legend
  display: none

  @media screen and (min-width: 700px)
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    min-width: 22%

.legend
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%

  p
    font-weight: 600
    font-size: ms(0)

  span
    color: $blk

.link
  display: flex
  justify-content: flex-start
  align-items: center
  padding: $s1 0 0

.newprogram--content
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  width: 100%

div.input--container
  min-width: 280px
  width: auto
  margin-right: $s0

  @media screen and (min-width: 700px)
    width: 350px

.container--bottomnav
  .button
    min-width: 100%

  @media screen and (min-width: 700px)
    .button
      min-width: 150px

</style>