<template>
  <section id="program--reviews">
    
    <div class="container--header">
      <div class="header--left">
        <h1 class="header--left--heading" v-html="program.title"></h1>
      </div>

      <div class="header--right">
        <!-- <base-search></base-search> -->
      </div>
    </div>

    <div class="container--filter">
      <base-filter :data="filters"></base-filter>
    </div>

    <div class="container--content">
      <base-review-card class=""
                        v-for="review in reviews"
                        :key="review.id"
                        :data="review"
                        :programName="program.title"></base-review-card>
    </div>

  </section>
</template>

<script>
import baseBtn from '../base/base-btn.vue';
import baseSearch from '../base/base-search.vue';
import baseFilter from '../base/base-filter.vue';
import baseReviewCard from '../base/base-review-card';

export default {
  name: 'programReviews',
  components: {
    baseBtn,
    baseSearch,
    baseFilter,
    baseReviewCard
  },
  props: {
    program: Object
  },
  data() {
    return {
      filters: {
        date: true,
        rating: true
      }
    }
  },
  computed: {
    reviews () {
      return this.program.reviews;
    }
  }
}
</script>

<style lang="sass">
.container--content
  display: flex
  flex-direction: column

.button.filter--rating
  position: absolute
  top: 0
  right: calc(33% - 44px)
  min-width: none
  width: 100px
</style>