<template>
  <section id="program--page">
    <div class="container--header">
      <div class="header--top">
        <div class="top--left">
          <h1 class="top--left--heading" v-html="program.title"></h1>
        </div>
        <div class="top--right">
          <span class="program--type">{{ program.program_type }}</span>
          <span class="program--location">{{ program.address }}</span>
        </div>
      </div>
      <div class="header--bottom">
          <base-btn class="button-fluid txt-lightmagenta" :data="btnNewEvent"></base-btn>
          <base-btn class="button-fluid txt-lightmagenta" :data="btnNewUpdate"></base-btn>
        </div>
    </div>

    <div class="container--content">
      <div class="content--top">
        <div class="top--left">
          <div class="program--desc">
            <base-description-card :data="program.description"></base-description-card>
          </div>
        </div>
        <div class="top--right">
          <div class="program--stats">
            <base-stats :data="statistics"></base-stats>
          </div>
          
          <div class="program--categories">
            <base-category-card :data="program.choices"></base-category-card>
          </div>
        </div>
      </div>

      <div class="content--bottom">
        <div class="program--images">
          <base-program-images :data="program.images" :title="program.title" :program_status="program.program_status"></base-program-images>
        </div>
      </div>
      
    </div>
  </section>
</template>

<script>
import baseBtn from '../base/base-btn.vue';
import baseDescriptionCard from '../base/base-description-card.vue';
import baseStats from '../base/base-stats.vue';
import baseCategoryCard from '../base/base-category-card.vue';
import baseProgramImages from '../base/base-program-images.vue';

export default {
  name: 'programPage',
  components: {
    baseBtn,
    baseDescriptionCard,
    baseStats,
    baseCategoryCard,
    baseProgramImages
  },
  props: {
    program: Object
  },
  created () {
    const numbers = this.$store.getters.getNumofEventsNews(this.program.title);
    this.statistics.news.quantity = numbers.news;
    this.statistics.calendar.quantity = numbers.events;
  },
  computed: {
    statistics () {
      return {
        reviews: {
          iconString: 'fa fa-star txt-lightmagenta',
          complex: true,
          quantity: this.program.reviews.length,
          name: 'Reviews',
          rating: 0,
          helper: 'out of 5'
        },
        calendar: {
          iconString: 'fa fa-calendar',
          complex: false,
          quantity: null,
          name: 'Kalendaroo',
          rating: null
        },
        news: {
          iconString: 'fa fa-newspaper-o',
          complex: false,
          quantity: null,
          name: 'News',
          rating: null
        },
        images: {
          iconString: 'fa fa-picture-o',
          complex: false,
          quantity: this.program.images.length,
          name: 'Images',
          rating: null
        }
      }
    }
  },
  data() {
    return {
      btnNewEvent: {
        text: 'Add New Event',
        iconString: 'button--icon-right fa fa-calendar',
        action: () => {
          this.$router.push({ name: 'Add New Event', params: { selectValue: this.program.title } });
        }
      },
      btnNewUpdate: {
        text: 'Post New Update',
        iconString: 'button--icon-right fa fa-newspaper-o',
        action: () => {
          this.$router.push({ name: 'Add New News', params: { selectValue: this.program.title } });
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

#program--page
  display: flex
  flex-direction: column
  width: 100%

.container--content
  flex-direction: column
  flex-wrap: nowrap

.content--top
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  width: 100%

  @media screen and (min-width: 1150px)
    flex-direction: row
    
.content--top
  .top--left
    display: flex
    width: 100%

    @media screen and (min-width: 1150px)
      margin-right: $s0

  .top--right
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 100%
    margin-top: $s1

    @media screen and (min-width: 700px)
      width: 100%
      
    @media screen and (min-width: 1150px)
      width: auto
      margin: 0

.program--type
  color: $ltMagenta
  text-transform: capitalize

.content--bottom
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.program--images
  width: 100%

.program--stats
  border: 1px solid $ltGray
  border-radius: 2px
  margin-bottom: $s1
  width: 100%
  box-shadow: $box-shadow

  // &:hover,
  // &:focus
  //   box-shadow: $box-shadow-darker
  //   transform: translateY(-1px)

  // &:active
  //   transform: translateY(1px)

.program--categories
  width: 100%
  margin-bottom: $s1
</style>