<template>
<section class="container--signup">
  <div class="signup">

    <div class="signup--header">
      <base-btn class="button-fluid button--close" :data="close" v-show="progression.current === 1"></base-btn>
      <base-btn class="button-fluid button--back" :data="back"  v-show="progression.current === 2"></base-btn>
      <img src="/public/assets/kraked/kgr-logo2.png" alt="Kid Goo Roo logo">
      <base-progression-barbell :data="progression"></base-progression-barbell>
    </div>
    
    <div class="signup--form">

      <form action="/api/v1/user-register"
            method="POST"
            id="register"
            @submit.prevent>

        <div class="signup--instruction">
          <base-instruction :data="currentStep.instruction"></base-instruction>
        </div>

        <div class="signup--content">

          <div class="signup--stepone">
            <base-input v-for="(input, index) in currentStep.inputs"
                        :key="input.id"
                        :data="input"
                        @input="updateVuexInputValue($event, index)"></base-input>
          </div>

        </div>

      </form>

      <div class="signup--footer">
        <span class="italics"
              v-show="progression.current === 2">By clicking finish, you agree to our &nbsp;
                    <a class="txt-lightmagenta">Terms and Conditions</a>.</span>
        <base-btn form="register"
                  type="submit"
                  :data="currentStep.btn"
                  :disabled="!currentStep.valid"></base-btn>
      </div>
    </div>
  </div>
  <pre>{{ currentStep.inputs[0] }}</pre>
</section>
</template>

<script>
import baseProgressionBarbell from '../base/base-progression-barbell.vue';
import baseInstruction from '../base/base-instruction.vue';
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'signUp',
  components: {
    baseProgressionBarbell,
    baseInstruction,
    baseInput,
    baseBtn
  },
  data() {
    return {
      close: {
        text: 'Close',
        iconString: 'fa fa-times-circle-o',
        action: this.cancel
      },
      back: {
        text: 'Back',
        iconString: 'fa fa-arrow-circle-left',
        action: () => {
          this.$store.commit('decrementProgression', { flow: 'signup' });
        }
      }
    }
  },
  computed: {
    progression () {
      return this.$store.getters.getProgression('signup');
    },
    steps () {
      return this.$store.getters.getSteps('signup');
    },
    currentStep () {
      return this.steps[this.progression.current - 1];
    },
  },
  watch: {
    'steps.0.inputs': {
      handler: function() {
        let valid = true;
        this.steps[0].inputs.forEach(input => {
          // if any input state === false, set valid to false
          if (!input.state) valid = false;
        });
        this.$store.commit('setStepValid', {
          flow: 'signup',
          step: 0,
          state: valid
        });
      },
      deep: true
    },
    'steps.1.inputs': {
      handler: function() {
        let valid = true;
        this.steps[1].inputs.forEach(input => {
          // if any input state === false, set valid to false
          if (!input.state) valid = false;
        });
        this.$store.commit('setStepValid', {
          flow: 'signup',
          step: 1,
          state: valid
        });
      },
      deep: true
    },
  },
  methods: {
    updateVuexInputValue (e, index) {
      this.$store.commit('updateVuexInputValue', {
        flow: 'signup',
        step: this.progression.current - 1,
        index,
        value: e
      });
    },
    tryRegistering() {
      console.log('API to register');
    },
    cancel() {
      console.log('INSERT CLOSE CODE SOMEWHERE!!!');
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.signup
  display: flex
  flex-direction: column

.container--signup
  display: flex
  flex-direction: column
  padding: $s2 $s0
  background-color: $wht
  border-radius: 2px
  box-shadow: $box-shadow

.signup--header
  display: flex
  justify-content: space-between
  align-items: center

.signup--form
  display: flex
  flex-direction: column

  form
    display: flex
    flex-direction: column

.signup--instruction
  padding: $s0 $s2

.signup--content
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  width: 100%
  padding: $s0 $s2
  z-index: 0

.signup--stepone,
.signup--steptwo
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .input--container
    width: 48%
    z-index: 3

.signup--footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  
  >*
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  span
    padding: $s0 0

@media screen and (max-width: 700px)
  .signup--header
    justify-content: flex-start

    .button-fluid
      order: 3
      min-width: auto

      .button--label
        display: none

      .button--icon
        color: $ltMagenta

  .signup--instruction
    padding: 0

    h2
      font-size: $s1

  .signup--content
    flex-direction: column
    padding: 0

  .signup--stepone,
  .signup--steptwo
    flex-direction: column
    width: 100%

    .input--container
      width: 100%
      margin: 7px 0

  .signup--footer
    .button
      margin-top: $s1
</style>