<template>
  <section id="dashboard">
    <base-flash v-if="programs[0] && currentNavItem === 'pending'"
                data="This program is currently awaiting approval from the KidGooRoo team."></base-flash>
    <div class="container--header">
      <div class="header--top">
        <div class="top--left">
          <h1 class="top--left--heading" v-html="organization.name"></h1>
        </div>
        <!-- <div class="top--right" v-if="programs[0]">
          <base-search></base-search>
        </div> -->
      </div>
      <div class="header--bottom">
        <base-btn class="button-fluid txt-lightmagenta" :data="btnAddProgram"></base-btn>
        <base-btn class="button-fluid txt-lightmagenta" :data="btnClaimProgram"></base-btn>
      </div>

      <!-- <div class="container--filter" v-if="programs">
        <base-filter :data="filters"></base-filter>
      </div> -->
    </div>

    <div class="container--content">
      <div class="content--programs" v-if="programs[0]">
        <base-program-card v-for="program in programs"
                          :key="program.id"
                          :data="program"></base-program-card>
      </div>

      <!-- If the user doens't have any programs for the current program_type of program (active, draft, pending, closed) -->
      <div class="content--noprograms" v-if="!programs[0]">
        <base-action-message :data="actionMessage"></base-action-message>
        <base-bordered-message :data="borderedMessage"></base-bordered-message>
        <base-listing v-for="listing in listings"
                      :key="listing.id"
                      :data="listing"></base-listing>
      </div>
    </div>
  </section>
</template>

<script>
import baseFlash from '../base/base-flash.vue';
import baseBtn from '../base/base-btn.vue';
import baseSearch from '../base/base-search.vue';
import baseFilter from '../base/base-filter.vue';
import baseActionMessage from '../base/base-action-message.vue';
import baseBorderedMessage from '../base/base-bordered-message.vue';
import baseListing from '../base/base-listing.vue';
import baseProgramCard from '../base/base-program-card.vue';

export default {
  name: 'userDashbaord',
  components: {
    baseFlash,
    baseBtn,
    baseSearch,
    baseFilter,
    baseActionMessage,
    baseBorderedMessage,
    baseListing,
    baseProgramCard,
  },
  props: {
    currentNavItem: String
  },
  data() {
    return {
      actionMessage: {
        message: {
          heading: 'Welcome to <b>KidGooRoo!</b>',
          note: 'You currently do not have any <span class="text-lightmagenta">programs.</span>'
        },
        btn: {
          text: 'Add New Program',
          iconString: 'button--icon-right fa fa-arrow-circle-o-right',
          action: () => {
            this.$router.push({ name: 'Program Step One' });
          }
        }
      },
      borderedMessage: 'Based on your information, we think these unclaimed programs may be yours',
      filters: {
        rating: true
      },
      btnAddProgram: {
        text: 'Add Program',
        iconString: 'button--icon-right fa fa-arrow-circle-o-right',
        action: () => {
          this.$router.push({ name: 'Program Step One' });
        }
      },
      btnClaimProgram: {
        text: 'Claim a Program',
        iconString: 'button--icon-right fa fa-check-square-o',
        action: () => {
          this.$router.push({ name: 'Claim a Program' });
        }
      }
    }
  },
  computed: {
    organization() {
      // return information about the user (their organization)
      return this.$store.getters.getOrganization;
    },
    listings() {
      // return unclaimed listings that could be the organization's
      return this.$store.getters.getListings;
    },
    programs() {
      // return the organizations programs (active, pending, drafts, and closed)
      return this.organization.programs[this.currentNavItem];
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

#dashboard
  display: flex
  flex-direction: column
  width: 100%

.container--message
  margin-bottom: $s1
</style>