<template>
  <section class="newprogram">

    <div class="container--newprogram">
      <!-- Consistent among all steps -->
      <div class="newprogram--header">
        <h1 v-html="progression.current"></h1>
        <base-progression-barbell :data="progression"></base-progression-barbell>
      </div>
      <div class="newprogram--instruction" v-if="currentStep.instruction">
        <base-instruction :data="currentStep.instruction"></base-instruction>
      </div>

      <!-- Contains the main content and buttons for each step -->
      <router-view></router-view>
    </div>

  </section>
</template>

<script>
import baseProgressionBarbell from '../base/base-progression-barbell.vue';
import baseInstruction from '../base/base-instruction.vue';

export default {
  name: 'addNewProgram',
  components: {
    baseProgressionBarbell,
    baseInstruction
  },
  props: {
    progression: Object
  },
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

.newprogram
  display: flex
  flex-direction: column

.container--newprogram
  display: flex
  flex-direction: column
  height: 100%
  padding: $s1

.newprogram--header
  display: flex
  justify-content: space-between
  align-items: center

  h1
    padding: 0

.newprogram--content
  display: flex
  justify-content: center
  height: 100%
  padding-top: $s2

.newprogram--stepone
  width: 100%

.container--inputs
  display: flex
  flex-wrap: wrap

  .input--container
    margin-right: 0

    @media screen and (min-width: 700px)
      margin-right: $s0
</style>