<template>
  <section>
    <div class="newprogram--content">
      <!-- <a class="link uppercase">use existing program information<i class="fa fa-picture-o"></i></a> -->
      <base-input v-for="(input, index) in inputs"
                  :key="input.id"
                  :data="input"
                  @input="saveDraftProgram($event, index)"></base-input>
    </div>

    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="btns[1]"
                  :disabled="!valid"></base-btn>
      </div>
    </div>
  </section>
</template>

<script>
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'newProgramOne',
  components: {
    baseInput,
    baseBtn
  },
  props: {
    draftProp: Object
  },
  created () {
    if (this.draftProp) this.draftObj = this.draftProp;
  },
  computed: {
    valid: function () {
      if (this.draftObj.title && this.draftObj.description) {
        if (this.draftObj.title.length > 0 && this.draftObj.description.length > 0) {
          return true;
        } else {
          return false;
        }
      }
    },
    inputs: function () {
      return [
        {
          type: 'text',
          lbl: 'Enter Your Program Name',
          name: 'title',
          value: this.draftObj.title || '',
          state: null,
          helper: "Enter your programs's title"
        },
        {
          type: 'textarea',
          lbl: 'Program Description',
          name: 'description',
          value: this.draftObj.description || '',
          state: null,
          helper: "Enter your programs's description"
        }
      ];
    }
  },
  data () {
    return {
      draftObj: { },
      btns: [
        {
          text: 'Cancel',
          iconString: 'fa fa-times-circle-o',
          action: () => {
            this.$router.push({ name: 'Home' });
            this.draftObj = {};
          }
        },
        {
          text: 'Participant Info',
          iconString: 'button--icon-right fa fa-arrow-circle-o-right',
          action: () => {
            this.$router.push({ name: 'Program Step Two', params: {
              programID: this.draftObj.id
            }});
            this.draftObj = {};
          }
        }
      ]
    }
  },
  methods: {
    uuidGen: function() {
      let lut = []; for (let i=0; i<256; i++) { lut[i] = (i<16?'0':'')+(i).toString(16); }
      const d0 = Math.random()*0xffffffff|0;
      const d1 = Math.random()*0xffffffff|0;
      const d2 = Math.random()*0xffffffff|0;
      const d3 = Math.random()*0xffffffff|0;
      return lut[d0&0xff]+lut[d0>>8&0xff]+lut[d0>>16&0xff]+lut[d0>>24&0xff]+'-'+
        lut[d1&0xff]+lut[d1>>8&0xff]+'-'+lut[d1>>16&0x0f|0x40]+lut[d1>>24&0xff]+'-'+
        lut[d2&0x3f|0x80]+lut[d2>>8&0xff]+'-'+lut[d2>>16&0xff]+lut[d2>>24&0xff]+
        lut[d3&0xff]+lut[d3>>8&0xff]+lut[d3>>16&0xff]+lut[d3>>24&0xff];
    },
    saveDraftProgram: function(e, index) {
      // set UID
      const id = this.uuidGen();
      if (!this.draftObj.id) this.$set(this.draftObj, 'id', id);
      // set inputted value
      this.$set(this.draftObj, this.inputs[index].name, e);
      this.$store.commit('saveDraftProgram', { draftObj: this.draftObj });
    }
  }
}
</script>

<style lang="sass">

</style>