<template>
  <section>
    <div class="newprogram--content container--upload">
      <div class="container--photo">
        <!-- <img> -->
        <div class="dummy-red"></div>
      </div>

      <div class="container--photo">
        <a class="link--photo" @click="triggerUpload">
          <!-- img of photo icon -->
          <h2>Upload</h2>
          <h3>Program Logo</h3>
          <i class="button--icon-right fa fa-arrow-circle-o-right"></i>
        </a>
        <input type='file'
              name='programlogo'
              class="photo--uploader-hidden"
              accept="image/*"
              @change="updateValue($event.target.files[0])">
      </div>

      <div class="container--photo">
        <!-- <img> -->
        <div class="dummy-red"></div>
      </div>
    </div>

    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="btns[1]"
                  :disabled="!valid"></base-btn>
      </div>
    </div>

  </section>
</template>

<script>
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'newProgramThree',
  components: {
    baseBtn
  },
  created () {
    this.draftObj = this.draftProgram;
    if (this.draftProgram.image) this.draftObj.image = this.draftProgram.image;
  },
  computed: {
    draftProgram () {
      return this.$store.getters.getDraftProgram(this.$route.params.programID);
    },
    valid: function() {
      return this.draftObj.image ? true : false;
    }
  },
  data() {
    return {
      draftObj: {},
      btns: [
        {
          text: 'Back',
          iconString: 'fa fa-arrow-circle-o-left',
          action: () => {
            this.$router.push({ name: 'Program Step Two', params: {
              programID: this.draftObj.id
            }});
          }
        },
        {
          text: 'Contact Info',
          iconString: 'button--icon-right fa fa-arrow-circle-o-right',
          action: () => {
            this.$router.push({ name: 'Program Step Four', params: {
              programID: this.draftObj.id
            }});
          }
        }
      ],
    }
  },
  methods: {
    triggerUpload: function(e) {
      e.preventDefault();
      const uploader = document.querySelector('.photo--uploader-hidden');
      uploader.click();
    },
    updateValue: function(value) {
      // set locally 1st
      this.$set(this.draftObj, 'image', value);
      this.$store.commit('saveDraftProgram', { draftObj: this.draftObj });
    }
  }
}
</script>

<style lang="sass" scoped>
.container--upload
  display: flex
  justify-content: center
  align-items: center

.container--photo
  display: flex
  width: 100px
  height: 150px
  padding: 14px 7px 44.8px 7px
  background-color: grey
  border-radius: 2px
  box-shadow: 0 4px 6px rgba(#262626, 0.11)

  @media screen and (min-width: 480px)
    width: 150px
    height: 200px

  &:nth-child(1)
    z-index: -1
    transform: translateX(30px) rotate(-15Deg)

  &:nth-child(3)
    z-index: -1
    transform: translateX(-30px) rotate(15Deg)

.link--photo
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background-color: #8c1759
  cursor: pointer

  &>*
    color: #f8f8f8

  h2,
  h3
    padding: 0

  h3
    font-weight: 300

  i
    padding-top: 14px

.photo--uploader-hidden
  display: none

.dummy-red
  width: 100%
  height: 100%
  background-color: red
  
</style>