<template>
  <section>
    <div class="newprogram--content">
      <choice-progression :data="choice"
                          @chosen="saveDraftProgram($event)"></choice-progression>
    </div>

    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="btns[1]"
                  :disabled="!valid"></base-btn>
      </div>
    </div>
  </section>
</template>

<script>
import choiceProgression from '../secondary-flows/choice-progression.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'newProgramFive',
  components: {
    choiceProgression,
    baseBtn
  },
  created () {
    this.draftObj = this.draftProgram;
  },
  computed: {
    draftProgram () {
      return this.$store.getters.getDraftProgram(this.$route.params.programID);
    },
    valid: function() {
      let truthiness = false;
      if (this.draftObj.choices[1]) {
        this.draftObj.choices[1].categories.forEach(category => {
          category.options.forEach(option => {
            if (option.checked) truthiness = true;
          });
        });
      } else {
        truthiness = false;
      }
      return truthiness;
    }
  },
  data () {
    return {
      draftObj: {},
      choice: {
        instructions: {
          heading: 'Select a <b>Category</b>'
        },
        categories: [
          {
            name: 'sports',
            selected: true,
            options: [
              {
                lbl: 'Baseball',
                name: 'baseball',
                checked: false
              },
              {
                lbl: 'Basketball',
                name: 'basketball',
                checked: false
              },
              {
                lbl: 'Boxing',
                name: 'boxing',
                checked: false
              },
              {
                lbl: 'Cheer',
                name: 'cheer',
                checked: false
              },
              {
                lbl: 'Crew / Rowing',
                name: 'crew-rowing',
                checked: false
              }
            ]
          },
          {
            name: 'arts',
            selected: false,
            options: [
              {
                lbl: 'Painting',
                name: 'Painting',
                checked: false
              },
              {
                lbl: 'Chalk',
                name: 'chalk',
                checked: false
              },
              {
                lbl: 'Finger Painting',
                name: 'finger-painting',
                checked: false
              },
              {
                lbl: 'Modeling',
                name: 'modeling',
                checked: false
              },
              {
                lbl: 'Clay',
                name: 'clay',
                checked: false
              }
            ]
          },
          {
            name: 'classes',
            selected: false,
            options: [
              {
                lbl: 'Math',
                name: 'math',
                checked: false
              },
              {
                lbl: 'Science',
                name: 'science',
                checked: false
              },
              {
                lbl: 'English',
                name: 'english',
                checked: false
              },
              {
                lbl: 'History',
                name: 'history',
                checked: false
              },
              {
                lbl: 'Chemistry',
                name: 'chemistry',
                checked: false
              }
            ]
          },
          {
            name: 'leisure',
            selected: false,
            options: [
              {
                lbl: 'Walking',
                name: 'walking',
                checked: false
              },
              {
                lbl: 'Golfing',
                name: 'golfing',
                checked: false
              },
              {
                lbl: 'Sleeping',
                name: 'sleeping',
                checked: false
              },
              {
                lbl: 'Baking',
                name: 'baking',
                checked: false
              },
              {
                lbl: 'Smoking',
                name: 'smoking',
                checked: false
              }
            ]
          }
        ]
      },
      btns: [
        {
          text: 'Back',
          iconString: 'fa fa-arrow-circle-o-left',
          action: () => {
            this.$router.push({ name: 'Program Step Four', params: {
              draftProp: this.draftProgram
            }});
          }
        },
        {
          text: 'Finish',
          iconString: 'button--icon-right fa fa-arrow-circle-o-right',
          action: () => {
            this.$store.commit('createNewProgram', { draftProgram: this.draftProgram });
            this.$router.push({ name: 'Pending Programs' });
          }
        }
      ]
    }
  },
  methods: {
    saveDraftProgram: function(e) {
      // set categories property
      this.draftObj.choices.splice(1, 1, { categories: [...e] });
      this.$store.commit('saveDraftProgram', { draftObj: this.draftObj });
    }
  }
}
</script>

<style lang="sass">

</style>