<template>
  <section>
    <div class="newprogram--content">
      <choice-progression :data="choice"
                          @chosen="saveDraftProgram($event)"></choice-progression>
    </div>

    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="btns[1]"
                  :disabled="!valid"></base-btn>
      </div>
    </div>
  </section>
</template>

<script>
import choiceProgression from '../secondary-flows/choice-progression.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'newProgramTwo',
  components: {
    choiceProgression,
    baseBtn
  },
  created () {
    this.draftObj = this.draftProgram;
    if (this.draftProgram.choices) this.choice.categories = this.draftProgram.choices[0].categories;
  },
  computed: {
    draftProgram () {
      return this.$store.getters.getDraftProgram(this.$route.params.programID);
    },
    valid: function() {
      let truthiness = false;
      if (this.draftObj.choices) {
        this.draftObj.choices[0].categories.forEach(category => {
          category.options.forEach(option => {
            if (option.checked) truthiness = true;
          });
        });
      } else {
        truthiness = false;
      }
      return truthiness;
    }
  },
  data () {
    return {
      draftObj: {},
      choice: {
        instructions: {
          heading: 'Choose the <b>Age and Gender</b> this program serves'
        },
        categories: [
          {
            name: 'boys',
            selected: true,
            options: [
              {
                lbl: '0 - 2',
                name: '0-2',
                checked: false
              },
              {
                lbl: '3 - 5',
                name: '3-5',
                checked: false
              },
              {
                lbl: '6 - 10',
                name: '6-10',
                checked: false
              },
              {
                lbl: '11 - 14',
                name: '11-14',
                checked: false
              },
              {
                lbl: '15+',
                name: '15+',
                checked: false
              }
            ]
          },
          {
            name: 'girls',
            selected: false,
            options: [
              {
                lbl: '0 - 2',
                name: '0-2',
                checked: false
              },
              {
                lbl: '3 - 5',
                name: '3-5',
                checked: false
              },
              {
                lbl: '6 - 10',
                name: '6-10',
                checked: false
              },
              {
                lbl: '11 - 14',
                name: '11-14',
                checked: false
              },
              {
                lbl: '15+',
                name: '15+',
                checked: false
              }
            ]
          }
        ],
      },
      btns: [
        {
          text: 'Back Info',
          iconString: 'fa fa-arrow-circle-o-left',
          action: () => {
            this.$router.push({ name: 'Program Step One', params: {
              draftProp: this.draftProgram
            }});
          }
        },
        {
          text: 'Add Your Logo',
          iconString: 'button--icon-right fa fa-arrow-circle-o-right',
          action: () => {
            this.$router.push({ name: 'Program Step Three', params: {
              programID: this.draftObj.id
            }});
          }
        }
      ]
    }
  },
  methods: {
    saveDraftProgram: function(e) {
      // set categories property
      this.$set(this.draftObj, 'choices', [ { categories: [...e] } ]);
      this.$store.commit('saveDraftProgram', { draftObj: this.draftObj });
    }
  }
}
</script>

<style lang="sass">

</style>