<template>
  <section>
    <!-- <a class="link uppercase">use existing program information<i class="fa fa-picture-o"></i></a> -->
    <span>This is the information that will appear publicly on the website.</span>
    <div class="container--inputs">
      <base-input v-for="(input, index) in inputs"
                  :key="input.id"
                  :data="input"
                  @input="saveDraftProgram($event, index)"></base-input>
    </div>

    <!-- Consistent among all steps -->
    <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid"
                  :data="btns[0]"></base-btn>
      </div>
      <div class="bottomnav--right">
        <base-btn :data="btns[1]"
                  :disabled="!valid"></base-btn>
      </div>
    </div>
  </section>
</template>

<script>
import baseInput from '../base/base-input.vue';
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'newProgramFour',
  components: {
    baseInput,
    baseBtn
  },
  props: {
    draftProp: Object
  },
  created () {
    this.draftObj = this.draftProgram;
    if (this.draftProp) this.draftObj = this.draftProp;
  },
  computed: {
    draftProgram () {
      return this.$store.getters.getDraftProgram(this.$route.params.programID);
    },
    inputs: function() {
      return [
        {
          type: 'text',
          lbl: 'Mailing Address Line 1',
          name: 'address',
          value: this.draftObj.address || '',
          state: null,
          helper: "Enter the line 1 of your mailing address"
        },
        // {
        //   type: 'text',
        //   lbl: 'Mailing Address Line 2',
        //   name: 'addresstwo',
        //   value: this.draftObj.,
        //   state: null,
        //   helper: "Enter the line 2 of your mailing address"
        // },
        {
          type: 'text',
          lbl: 'City',
          name: 'city',
          value: this.draftObj.city || '',
          state: null,
          helper: "Enter your city"
        },
        {
          type: 'text',
          lbl: 'State',
          name: 'state',
          value: this.draftObj.state || '',
          state: null,
          helper: "Enter your state"
        },
        {
          type: 'text',
          lbl: 'Zip Code',
          name: 'zipcode',
          value: this.draftObj.zipcode || '',
          state: null,
          helper: "Enter your zipcode"
        },
        {
          type: 'text',
          lbl: 'Contact Name',
          name: 'contact_name',
          value: this.draftObj.contact_name || '',
          state: null,
          helper: "Enter your contact name"
        },
        {
          type: 'text',
          lbl: 'Email Address',
          name: 'emailaddress',
          value: this.draftObj.emailaddress || '',
          state: null,
          helper: "Enter your email address"
        },
        {
          type: 'text',
          lbl: 'Phone Number',
          name: 'phone',
          value: this.draftObj.phone || '',
          state: null,
          helper: "Enter your phone number"
        },
        {
          type: 'text',
          lbl: 'Website',
          name: 'website',
          value: this.draftObj.website || '',
          state: null,
          helper: "Enter your business website"
        }
      ];
    },
    valid: function() {
      let truthiness = false;
      this.inputs.forEach(input => {
        if (this.draftObj[input.name]) {
          if (this.draftObj[input.name].length > 0) {
            truthiness = true
          } else {
            truthiness = false;
          }
        }
      });
      return truthiness; 
    }
  },
  data () {
    return {
      draftObj: {},
      btns: [
        {
          text: 'Back',
          iconString: 'fa fa-circle-o-arrow-left',
          action: () => {
            this.$router.push({ name: 'Program Step Three', params: {
              programID: this.draftObj.id
            }});
          }
        },
        {
          text: 'Categories',
          iconString: 'button--icon-right fa fa-circle-o-arrow-right',
          action: () => {
            this.$router.push({ name: 'Program Step Five', params: {
              programID: this.draftObj.id
            }});
          }
        }
      ]
    }
  },
  methods: {
    saveDraftProgram: function(e, index) {
      // set inputted value
      this.$set(this.draftObj, this.inputs[index].name, e);
      this.$store.commit('saveDraftProgram', { draftObj: this.draftObj });
    }
  }
}
</script>

<style lang="sass">

</style>