<template>
  <div class="container--bottomnav">
      <div class="bottomnav--left">
        <base-btn class="button-fluid" 
             :data="btnone"
             @updateValue="updateProgression"></base-btn>
      </div>
      <div class="bottomnav-right">
        <base-btn :data="btntwo"
             @updateValue="updateProgression"></base-btn>
      </div>
  </div>
</template>

<script>
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'bottomNav',
  components: {
    baseBtn
  },
  props: {
    data: Array
  },
  data() {
    return {
      btnone: this.data[0],
      btntwo: this.data[1]
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--bottomnav
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100px
  padding: $s1
  margin: 0
  margin-top: auto
</style>