<template>
  <div class="container--sidenav">

    <div class="sidenav--header">
      <div class="header--mobilemenu">
        <i class="fa fa-bars"></i>
      </div>
      <div class="header--logo">
        <img src="../../../public/assets/kraked/kgr-logo2.png" alt="Kid Goo Roo logo">
      </div>
      <div class="header--search">
        <i class="fa fa-search"></i>
      </div>
    </div>

    <div class="container--menu">

      <div class="sidenav--personal">
        <router-link to="/programs/active-programs"><span class="personal--name bold text-s02" v-html="organization.name"></span></router-link>
        <span class="text-small">{{ organization.address }}</span>
      </div>

      <div class="sidenav--menu">

        <nav>

          <router-link to="/programs" active-class="js-menu-active menu-open" class="menu--category">

            <li class="menu--header text-s02 bold">Programs</li>

            <ul class="menu--subcategory">
              <router-link to="/programs/active-programs" active-class="js-active"><li class="menu--item" data-menu-item="active">Active programs ({{ organization.programs.active.length }})</li></router-link>

              <router-link to="/programs/draft-programs" active-class="js-active"><li class="menu--item" data-menu-item="drafts">Drafts ({{ organization.programs.drafts.length }})</li></router-link>

              <router-link to="/programs/pending-programs" active-class="js-active"><li class="menu--item" data-menu-item="pending">Pending ({{ organization.programs.pending.length }})</li></router-link>

              <router-link to="/programs/closed-programs" active-class="js-active"><li class="menu--item" data-menu-item="closed">Closed ({{ organization.programs.closed.length }})</li></router-link>
            </ul>
          </router-link>

          <router-link to="/kalendaroo" exact-active-class="js-menu-active menu-open" class="menu--category">
            <li class="menu--header text-s02 bold">Kalendaroo</li>
          </router-link>

          <router-link to="/news" exact-active-class="js-menu-active menu-open" class="menu--category">
            <li class="menu--header text-s02 bold">News</li>
          </router-link>

        </nav>

      </div>

      <div class="sidenav--additional">
        <span class="text-small">Additional Links</span>
        <ul>
          <router-link to="/marketing-tools"><li class="additional--link text-small">Marketing Tools</li></router-link>
          <router-link to="/user-guide"><li class="additional--link text-small">User Guide</li></router-link>
          <router-link to="/FAQs"><li class="additional--link text-small">FAQs</li></router-link>
        </ul>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'sideNav',
  data() {
    return {
      personal: this.$store.state.nav.personal,
      programs: this.$store.state.nav.programs,
      kalendaroo: this.$store.state.nav.kalendaroo,
      news: this.$store.state.nav.news,
      active: this.$store.state.nav.active
    }
  },
  computed: {
    organization () {
      return this.$store.getters.getOrganization;
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

.container--sidenav
  display: flex
  flex-direction: column
  height: 100vh
  background-color: transparent

  @media screen and (min-width: 700px)
    width: 250px

// container for the menu (used to handle mobile transitions)
.container--menu
  position: fixed;
  width: 100%;
  display: flex
  flex-direction: column
  height: calc(100% - 58px)
  transform: translateY(-100%)
  transition: 0.4s
  background-color: $ltGray

  @media screen and (min-width: 700px)
    position: static
    width: 250px
    transform: translateY(0vh)

.menu-open
  @media screen and (max-width: 699px)
    transform: translateY(57px)
    z-index: 2

// KidGooRoo logo
.sidenav--header
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  padding: $s0
  background-color: darken($ltGray, 5%)
  z-index: 1

  @media screen and (min-width: 700px)
    position: static
    width: 250px
    padding: $s1

.header--mobilemenu
  display: flex
  justify-content: center
  align-items: center
  width: 44px
  height: 30px

  .fa-bars
    font-size: ms(1) + 'px'
    color: $ltBlk

  @media screen and (min-width: 700px)
    display: none


.header--logo
  display: flex
  justify-content: center
  align-items: center
  flex-grow: 1
  
  img
    width: 50px

  @media screen and (min-width: 700px)
    img
      width: initial

.header--search
  display: flex
  justify-content: center
  align-items: center
  width: 44px
  height: 30px

  .fa-search
    font-size: ms(1) + 'px'
    color: $ltBlk

  @media screen and (min-width: 700px)
    display: none

// User organization info
.sidenav--personal
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: $s1
  background-color: $ltGray

.personal--name
  color: $dkMagenta

// Navigation
.sidenav--menu
  display: flex
  background-color: $ltGray
  overflow: scroll

  nav
    width: 100%

.menu--category
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start

.menu--subcategory
  display: flex
  flex-direction: column
  width: 100%
  height: 0
  visibility: hidden

.menu--header
  width: 100%
  padding: 7px $s1
  font-size: ms(0) + 4.2px

.menu--item
  padding: 7px $s1
  color: inherit

  &:hover,
  &:focus
    color: $ltMagenta

  &:active
    color: $dkMagenta

// Classes for switching active styling
.js-menu-active
  background-color: lighten($ltGray, 3%)
  
  .menu--header
    color: $dkMagenta

  .menu--subcategory
    height: 100%
    visibility: visible

.js-active
  color: $ltMagenta
  // background-color: $wht

// Additional Links
.sidenav--additional
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: $s1
  margin-top: auto
  border-top: 1px solid $mdGray
  background-color: $ltGray

  li
    color: $dkMagenta

.additional--link
  padding-top: $s0

  &:hover,
  &:focus
    color: $ltBlk

  &:active
    color: $dkMagenta

</style>