<template>
  <section class="container--choice">
    <base-instruction class='instruction'
                 :data="data.instructions"></base-instruction>

    <div class="choices">
      <label class="choice--label"
             v-for="category in categories"
             :key="category.id"
             :data-category-name="category.name"
             :class="{ 'label--border-pink': category.selected }"
             @click="selectCategory(category)"> {{ category.name }}</label>
    </div>

    <div class="choice--radios">
      <base-radio v-for="option in currentCategoryOptions"
                  :key="option.id"
                  :data="option"
                  @input="passOnSelections"></base-radio>
    </div>
  </section>
</template>

<script>
import baseInstruction from '../base/base-instruction.vue';
import baseRadio from '../base/base-radio.vue';

export default {
  name: 'choiceProgression',
  props: {
    data: Object
  },
  components: {
    baseInstruction,
    baseRadio
  },
  data () {
    return {
      categories: this.data.categories,
      currentCategory: this.data.categories[0],
    }
  },
  computed: {
    currentCategoryOptions () {
      return this.currentCategory.options;
    }
  },
  methods: {
    selectCategory: function(category) {
      // clear selected categories to show switching between top-level categories
      this.categories.forEach(category => category.selected = false);
      // set selected category to true to show selected
      category.selected = true;
      this.currentCategory = Object.assign({}, this.currentCategory, category);
    },
    passOnSelections: function() {
      this.$emit('chosen', this.categories);
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--choice
  display: flex
  flex-direction: column

.container--choice .instruction
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  text-align: center

.container--choice .choices
  display: flex
  justify-content: center
  align-items: center
  margin: 22.4px auto

  label
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: $s1
    margin: 0 14px

.label--border-pink
  border: 1px solid $ltMagenta

.container--choice .choice--radios
  display: flex
  justify-content: center
  align-items: center

.radio
  display: flex
</style>