<template>
  <section class="container--noyes">
    <img :src="img.path" :alt="img.alt" class="img">
    <Instruction class="instruction" 
                 :data="instruction"></Instruction>
    <div class="choice--buttons">
      <Btn class="btn"
          :data="no"></Btn>
      <Btn class="btn"
          :data="yes"></Btn>
    </div>
  </section>
</template>

<script>
import Instruction from './Instruction.vue';
import Btn from './Btn.vue';

export default {
  name: 'noYesProgression',
  components: {
    Instruction,
    Btn
  },
  props: {
    data: Object
  },
  data() {
    return {
      img: this.data.img,
      instruction: this.data.instruction,
      no: this.data.no,
      yes: this.data.yes
    }
  }
}
</script>

<style lang="sass">
.container--noyes
  display: flex
  flex-direction: column

.container--noyes .img
  display: flex
  width: 100px
  margin: 0 auto

  @media screen and (min-width: 660px)
    width: 120px

.container--noyes .instruction
  text-align: center
  margin: 0 0 22.4px

.choice--buttons
  display: flex
  flex-direction: column
  width: fit-content
  margin: 0 auto

  @media screen and (min-width: 500px)
    flex-direction: row

.container--noyes .btn
  width: fit-content

</style>