<template>
  <div class="container--event">
    <div class="event--top">
      <div class="event--date">
        <span class="bold">{{ date }}</span>
      </div>

      <div class="event--body">
        <h3 class="body--program">{{ data.program }}</h3>
        <h2 class="bold body--title">{{ data.name }}</h2>
      </div>

      <div class="event--location">
        <span>{{ data.address }}</span>
      </div>
    </div>
    
    <div class="event--bottom">
      <base-btn class="button-fluid" :data="edit"></base-btn>
    </div>
    
  </div>
</template>

<script>
import baseBtn from './base-btn.vue';

export default {
  name: 'eventCard',
  components: {
    baseBtn
  },
  props: {
    data: Object
  },
  data() {
    return {
      edit: {
        text: "Edit Event",
        iconString: "button--icon-right fa fa-pencil",
        action: () => {
          this.$router.push({ name : 'Edit Event', params: {
            event: this.data,
            selectValue: this.data.program
          } });
        }
      }
    }
  },
  computed: {
    date () {
      return this.data.date.slice(0, this.data.date.indexOf(','));
    }
  },
  methods: {
    test: function() {
      console.log('test');
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--event
  display: flex
  flex-direction: column
  width: 100%
  margin-top: $s1
  border: 1px solid $ltGray
  border-radius: 2px
  box-shadow: 0 4px 6px rgba($blk, 0.11)

.event--top
  display: flex
  border-bottom: 1px solid $ltGray

.event--date
  display: flex
  justify-content: center
  align-items: center
  width: 150px
  padding: $s0
  border-right: 1px solid $ltGray

  span
    padding: 0
    line-height: 1
    text-align: center
    font-size: ms(1)

.event--body
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex: 1
  padding: $s0
  border-right: 1px solid $ltGray

  .body--program
    padding: 0
    color: $ltMagenta
  
  .body--title
    padding: 0
    color: $dkMagenta

.event--location
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  min-width: 75px
  padding: $s0

  span
    font-size: 12px

  @media screen and (min-width: 700px)
    min-width: 125px

.event--bottom
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
</style>