<template>
  <div class="container--news">
    <div class="news--top">

      <div class="news--body">
        <h3 class="body--program">{{ data.program }}</h3>
        <h2 class="bold body--title">{{ data.title }}</h2>
      </div>

      <div class="news--image" v-if="data.image">
          <img :src="data.image.src" :alt="data.image.alt">
      </div>
    </div>
    
    <div class="news--bottom">
      <base-btn class="button-fluid" :data="editBtn"></base-btn>
    </div>
    
  </div>
</template>

<script>
import baseBtn from './base-btn.vue';

export default {
  name: 'eventCard',
  components: {
    baseBtn
  },
  props: {
    data: Object
  },
  data() {
    return {
      editBtn: {
        text: "Edit Update",
        iconString: "button--icon-right fa fa-pencil",
        action: () => {
          this.$router.push({ name : 'Edit News', params: {
            news: this.data,
            selectValue: this.data.program
          } });
        }
      }
    }
  },
  methods: {
    test: function() {
      console.log('test');
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--news
  display: flex
  flex-direction: column
  width: 100%
  margin-top: $s1
  border: 1px solid $ltGray
  border-radius: 2px
  box-shadow: 0 4px 6px rgba($blk, 0.11)

.news--top
  display: flex
  border-bottom: 1px solid $ltGray

.news--date
  display: flex
  justify-content: center
  align-items: center
  width: 150px
  padding: $s0
  border-right: 1px solid $ltGray

  span
    padding: 0
    line-height: 1
    text-align: center
    font-size: ms(1)

.news--body
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex: 1
  padding: $s0
  border-right: 1px solid $ltGray

  .body--program
    padding: 0
    color: $ltMagenta
  
  .body--title
    padding: 0
    color: $dkMagenta

.news--location
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  min-width: 75px
  padding: $s0

  span
    font-size: 12px

  @media screen and (min-width: 700px)
    min-width: 125px

.news--bottom
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
</style>