<template>
  <div class="container--reviewcard">

    <div class="reviewcard--top">
      <div class="top--left">
        <div class="reviewee">
          <img class="reviewee--image" :src="data.reviewee.img.url" :alt="data.reviewee.img.alt">
          <span class="reviewee--text"><b>{{ data.reviewee.name }}</b> on {{ data.date }}</span>
        </div>
        <h3 class="review--program lt-magenta-hl">{{ programName }}</h3>
        <h2 class="review--title magenta-hl bold">{{ data.review.title }}</h2>
        <p class="review--body">{{ data.review.description }}</p>
      </div>

      <div class="top--right">
        <div class="right--top">
          <span class="category">
            <span class="magenta-hl">
              <i class="fa fa-bullseye"></i> Skill level:
            </span>
            {{ data.review.ratings.skill }}
          </span>
          <span class="category">
            <span class="magenta-hl">
              <i class="fa fa-user"></i> Participant:
            </span>
            {{ data.review.ratings.who }}
          </span>
        </div>
        <div class="right--bottom">
          <div class="rating rating--top">
            <span>Overall:</span>
            <!-- stars should represent # out of 5 in reviews.ratings.overall -->
            <i class="fa fa-star" v-for="n in data.review.ratings.overall" :key="n.id"></i>
          </div>
          <div class="rating rating--middle">
            <span>Facilities:</span>
            <!-- stars should represent # out of 5 in reviews.ratings.facilities -->
            <i class="fa fa-star" v-for="n in data.review.ratings.facilities" :key="n.id"></i>
          </div>
          <div class="rating rating--bottom">
            <span>Teachers:</span>
            <!-- stars should represent # out of 5 in reviews.ratings.teachers -->
            <i class="fa fa-star" v-for="n in data.review.ratings.teachers" :key="n.id"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="reviewcard--bottom">
      <base-btn class="button-fluid" :data="report"></base-btn>
      <base-btn class="button-fluid" :data="respond"></base-btn>
    </div>
  </div>
</template>

<script>
import baseBtn from './base-btn.vue';

export default {
  name: 'reviewCard',
  components: {
    baseBtn
  },
  props: {
    data: Object,
    programName: String
  },
  data() {
    return {
      report: {
        text: "Report a Problem",
        iconString: "button--icon-right fa fa-exclamation-triangle",
        action: this.test
      },
      respond: {
        text: "Respond to Review",
        iconString: "button--icon-right fa fa-sign-out",
        action: this.test
      }
    }
  },
  methods: {
    test: function() {
      console.log('test');
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

span
  font-size: 12px

.container--reviewcard
  display: flex
  flex-direction: column
  width: 100%
  margin-bottom: $s0
  background-color: white
  border: 1px solid $ltGray
  border-radius: 2px
  box-shadow: $box-shadow

.reviewcard--top
  display: flex
  border-bottom: 1px solid $ltGray

.top--left
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: $s0

  @media screen and (min-width: 700px)
    width: 60%
    border-right: 1px solid $ltGray

.reviewee
  display: flex
  justify-content: center
  align-items: center

.reviewee--image
  width: 30px
  border-radius: 50%

.reviewee--text
  padding-left: 4px

.review--program
  padding: 0
  padding-top: $s0
  color: $ltMagenta

.review--title
  padding: 0
  padding-top: 4px
  padding-bottom: 7px
  color: $ltMagenta

.review--body
  font-size: 12px

.top--right
  display: none

  @media screen and (min-width: 700px)
    display: flex
    flex-direction: column
    width: 40%
    padding: $s0

.right--top
  display: flex
  width: 100%

.category
  width: 50%
  margin-bottom: $s0

  i
    font-size: $s0
    padding-right: 4px

.right--bottom
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start

.rating
  display: flex
  padding: 7px 0

  span
    display: flex
    min-width: 55px
    padding-right: 4px

  .fa-star
    color: $ltMagenta // make gradient later

.reviewcard--bottom
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%

</style>