<template>
  <div class="container--radio">
    <label class="radio--label" :for="data.name">
      <input class="radio--input"
             type="radio"
             :id="data.name"
             :checked="data.checked"
             @click="toggleChecked"
             @change="updateValue($event.target.checked)">
      {{ data.lbl }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'radio',
  props: {
    data: Object,
  },
  methods: {
    toggleChecked: function() {
      this.data.checked = !this.data.checked;
    },
    updateValue: function(value) {
      this.$emit('input', value);
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--radio
  display: flex
  justify-content: center
  align-items: center
  margin: $s0

.radio--label
  display: flex
  align-items: center
  width: 100%
  padding: 14px 7px
  font-size: 10px
  font-style: italic
  color: #8c1759

.radio--input
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 14px
  height: 14px
  padding: 0
  margin: 0
  margin-right: 6px
  border-radius: 50%
  border: 1px solid #8c1759
  outline: none

  &:checked
    border: 7px solid #8c1759

</style>