<template>
  <div class="container--search">
    <input type="text"
           placeholder="Search for events"
           class="input--search"
           ref="input"
           :value="value"
           @input="updateValue($event.target.value)"
           @focus="toggleFocus"
           @blur="toggleFocus">
    <i class="fa fa-search"
       v-if="!focused"></i>
  </div>
</template>

<script>
  export default {
    name: 'search',
    props: {
      value: String
    },
    data() {
      return {
        focused: false,
        inputValue: this.value
      }
    },
    watch: {
      value: function() {
        this.inputValue = this.value;
      }
    },
    methods: {
      toggleFocus: function() {
        const state = this.focused;
        this.focused = !state;
      },
      updateValue: function(value) {
        const formattedValue = value.trim();

        if (formattedValue !== value) {
          this.$refs.input = formattedValue;
        }

        this.$emit('input', formattedValue);
      }
    }
  }
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--search
  position: relative
  width: 200px

.input--search
  width: 200px
  padding: 7px $s0
  font-size: $s0
  font-weight: 600
  color: #a09f9c
  border: 0
  border-radius: 1px
  background-color: #e6e5e0
  box-shadow: 0 4px 6px rgba(#e6e5e0, 0.11)
  outline: none

  &::placeholder
    color: #a09f9c

.fa-search
  position: absolute
  top: 8px
  right: $s0
  font-size: 14px
  color: #a09f9c
</style>

