<template>
  <div class="container--stats">
      <base-stat-card v-for="value in data"
                      :key="value.id"
                      :data="value"></base-stat-card>
  </div>
</template>

<script>
import baseStatCard from './base-stat-card.vue';

export default {
  name: 'stats',
  components: {
    baseStatCard
  },
  props: {
    data: Object
  }
}
</script>

<style lang="sass" scoped>
  .container--stats
    display: flex
    justify-content: space-between
    width: 100%

    @media screen and (min-width: 1150px)
      width: fit-content
</style>