<template>
  <div class="container--listing">
    <div class="listing--body">
      <span>{{ program.program_type }}</span>
      <h2>{{ program.title }}</h2>
      <h3>{{ program.address }}</h3>
    </div>
    <div class="listing--btn">
      <base-btn class="button-fluid"
           :data="btn"></base-btn>
    </div>
  </div>
</template>

<script>
import baseBtn from './base-btn.vue';

export default {
  name: 'listing',
  components: {
    baseBtn
  },
  props: {
    data: Object
  },
  data() {
    return {
      program: this.data,
      btn: {
        text: 'View & Claim Program',
        iconString: 'button--icon-right fa fa-arrow-circle-o-right',
        action: () => {
          console.log('TRIGGER VIEW & CLAIM A PROGRAM FLOW');
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
  .container--listing
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    border: 1px solid #E6E5E0

    &:nth-child(odd)
      background-color: #F0EFEC

    @media screen and (min-width: 710px)
      flex-direction: row
      justify-content: flex-start
      align-items: center

  .listing--body
    display: flex
    flex-direction: column
    flex: 1
    padding: 14px

    span
      font-size: 10px

    h2
      padding: 0
      padding-bottom: 3px
      font-weight: 600
    
    h3
      padding: 0

  .listing--btn
    display: flex
    justify-content: center
    align-items: center
    width: 100%

    @media screen and (min-width: 710px)
      width: initial

    .btn
      width: 100%
      margin: 0
      color: #464646
      font-size: 12px
      border: 0
      border-radius: 0
      border-top: 1px solid #E6E5E0
      background-color: transparent
      box-shadow: none

      &>*
        color: #464646
        font-size: 12px

      @media screen and (min-width: 710px)
        border: 0

      &:hover,
      &:focus
        background-color: transparent
        box-shadow: none

        &>*
          color: #8C1759 !important
</style>