<template>
  <div class="container--description">

    <div class="description--header">
      <h2>Program Description</h2>
    </div>

    <div class="description--body">
      <p>{{ data }}</p>
    </div>

  </div>
</template>

<script>

export default {
  name: 'descriptionCard',
  props: {
    data: String
  },
}
</script>

<style lang="sass" scoped>
  .container--description
    display: flex
    flex-direction: column
    width: 100%
    border: 1px solid #C6C5C1
    border-radius: 2px
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

    @media screen and (min-width: 1150px)
      width: 400px

  .description--header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 7px 14px
    background-color: #f6f6f6
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

    h2
      padding: 0
      font-size: 22.4px

  .description--body
    display: flex
    padding: 14px
    
    p
      font-size: 12px
</style>