<template>
  <button class="button" @click="data.action">
    <label class="button--label">{{ data.text }}</label>
    <i  :class="data.iconString"
       class="button--icon"
       aria-hidden="true"></i>
  </button>
</template>

<script>
export default {
  name: "base-btn",
  props: {
    data: Object,
  }
};
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.button,
  display: inline-flex
  flex-direction: row
  justify-content: center
  align-items: center
  position: relative
  // min-width: 150px
  padding: $s0 7px
  margin: 7px
  background-color: $wht
  font-size: 12px
  text-transform: uppercase
  border-radius: 1px
  border: 1px solid $ltMagenta
  box-shadow: 0 4px 6px rgba($blk, 0.11)
  outline: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  transition: all .15s
  cursor: pointer

  &>*
    color: $ltMagenta
    cursor: pointer
  
  &:hover,
  &:focus,
    background-color: $ltMagenta
    box-shadow: 0 7px $s0 rgba(#262626, 0.1)
    transform: translateY(-1px)

    > .button--label,
    > .button--icon
      color: $wht

  &:disabled
    border: 1px solid $ltGray !important
    background-color: $wht !important

    > .button--label,
    > .button--icon
      color: $ltGray !important

.button--label
  width: 100%
  padding-right: 4px
  font-size: 12px
  line-height: 1
  order: 2


.button--icon
  display: inline-flex
  position: static
  margin: 0 4px
  font-size: $s0
  visibility: visible

.button--icon-left
  order: 1

.button--icon-right
  order: 3



.button-fluid
  margin: 0
  color: $ltBlk
  border: 0
  border-radius: 0
  background-color: transparent
  box-shadow: none

  .button--label
    padding: 0
    padding-left: 3px
    font-size: 12px
    color: $ltBlk

  .button--icon
    font-size: 14px
    color: $ltBlk

  @media screen and (min-width: 710px)
    border: 0

  &:hover,
  &:focus
    background-color: transparent
    box-shadow: none

    &>*
      color: $ltMagenta !important

.txt-lightmagenta
  .button--label,
  .button--icon
    color: $ltMagenta
</style>
