<template>
  <div class="container--barbell">
    <div class="barbell--text">
      <p><span class="bold">{{ currentStepText }}</span> of {{ data.steps }}</p>
    </div>
    <div class="barbell--bell" v-for="(step, index) in data.steps" :key="step.id">
      <div class="barbell--bell-checked" v-if="index + 1 <= data.current"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'baseProgressionBarbell',
  props: {
    data: Object
  },
  computed: {
    currentStepText: function() {
      return `Step ${this.data.current}`;
    }
  }
}
</script>

<style lang="sass" scoped>
.container--barbell
  display: flex
  justify-content: flex-start
  align-items: center
  width: -webkit-fit-content
  width: -moz-fit-content
  width: fit-content
  height: 50px
  padding: 8px
  margin-left: auto
  background-color: transparent

  @media screen and (min-width: 700px)
    margin: 0

.barbell--text
  display: inline-flex
  justify-center: flex
  align-items: center
  flex: 1
  min-width: 46px
  height: 100%
  font-family: "canada-type-gibson", sans-serif
  font-size: 10px

.barbell--bell
  display: none
  justify-content: center
  align-items: center
  position: relative
  width: 21px
  height: 21px
  padding: 3px
  margin: 8px 16px
  border-radius: 50%
  background-color: #e6e5e0
  position: relative

  &:after
    position: absolute
    right: -32px
    top: 8px
    content: ''
    width: 32px
    height: 5px
    background-color: #e6e5e0

  &:last-child
    &:after
      visibility: hidden

  @media screen and (min-width: 700px)
    display: flex

.barbell--bell-checked
  display: flex;
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: #8c1759

.bold
  font-weight: 600
</style>
