<template>
  <div class="container--borderedmessage">
    <p v-html="data"></p>
  </div>
</template>

<script>
export default {
  name: 'borderedMessage',
  props: {
    data: String
  }
}
</script>

<style lang="sass" scoped>
  .container--borderedmessage
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    padding: 14px
    border: 1px solid #E6E5E0
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

    p
      text-transform: uppercase
      font-size: 12px
      text-align: center
</style>