<template>
  <div class="container--collapsible">
    <a class="collapsible--link"
       @click="toggle">
      <div class="collapsible--indicator">
        <div class="collapsible--icon">
          <transition name="ease" mode="in-out">
            <span>{{ collapseIndicator }}</span>
          </transition>
        </div>
      </div>
      <div class="collapsible--body">
        <h3><b>{{ feature.title }}</b></h3>
        <transition name="ease">
          <p v-if="!collapsed">{{ feature.description }}</p>
        </transition>
      </div>
      <div class="collapsible--image">
      </div>
      <div class="collapsible--verified">
        <i class="fa fa-check-circle"
          v-if="feature.verified"></i>
      </div>
      <div class="collapsible--premium">
        <i class="fa fa-check-circle"
          v-if="feature.premium"></i>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  name: 'featureCollapsible',
  props: {
    data: Object
  },
  data() {
    return {
      feature: this.data,
      collapsed: this.data.collapsed
    }
  },
  computed: {
    collapseIndicator: function() {
      switch (this.collapsed) {
        case true: return '+'
        case false: return '-'
      }
    }
  },
  methods: {
    toggle: function() {
      this.collapsed = !this.collapsed;
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--collapsible
  display: flex
  max-width: 900px
  padding: 7px 0
  border-bottom: 1px solid #C6C5C1

.collapsible--link
  display: flex
  flex-direction: row
  width: 100%
  cursor: pointer

.collapsible--indicator
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  width: fit-content
  height: 25px
  // border: 1px solid green

.collapsible--icon
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: 0 $s0
  height: 100%

  span
    display: flex
    justify-content: center
    align-items: center
    min-width: 20px
    height: 20px
    font-size: 14px
    color: $ltMagenta
    border: 1px solid $ltMagenta
    border-radius: 50%
  

.collapsible--body
  display: flex
  flex-direction: column
  flex-grow: 1

  h3
    // height: 25px
    padding: 0
    line-height: 25px // centers text vertically w/ height
    color: $dkMagenta
    

.collapsible--verified
  display: flex
  justify-content: center
  align-items: center
  min-width: 11%
  height: 25px

  i
    font-size: 18px
    color: $mdGray

.collapsible--premium
  display: flex
  justify-content: center
  align-items: center
  min-width: 11%
  height: 25px

  i
    font-size: 18px
    color: $ltMagenta
  

.ease-enter, .fase-leave-to
  opacity: 0

.ease-enter-active
  transition: opacity 0.4s ease

.ease-leave-active
  transition: opacity 0.2s ease
</style>