<template>
  <div class="container--statcards" :class="{ 'stretch': data.complex }">
    <div class="statcard">

      <i :class="data.iconString"></i>

      <span v-if="data.complex"
            class="statcard--name">{{ data.quantity }} {{ data.name }}</span>
      <span v-else
            class="statcard--name">{{ data.name }}</span>

      <span v-if="data.complex"
            class="statcard--data"><span class="txt-lightmagenta bold stat--number">{{ data.rating }}</span>&nbsp;{{ data.helper }}</span>
      <span v-else
            class="statcard--data"><span class="txt-lightmagenta bold stat--number">{{ data.quantity }}</span></span>

    </div>
  </div>
</template>

<script>
export default {
  name: 'statCard',
  props: {
    data: Object
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--statcards
  display: flex
  flex-direction: row

.statcard
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: $s0 7px
  min-width: 55px

  @media screen and (min-width: 350px)
    min-width: 75px

  @media screen and (min-width: 350px)
    min-width: 85px

  @media screen and (min-width: 700px)
    width: 100px
    height: 100px

.statcard--name
  padding-top: 4px
  font-size: 10px
  font-weight: 600

.statcard--data
  display: flex
  justify-content: center
  align-items: center
  font-size: 14px

.stat--number
  font-size: $s1 
</style>