<template>
  <div class="container--programimages">

    <div class="programimages--header">
      <div class="header--title">
        <i class="fa fa-picture-o"></i>
        <h2>Images</h2>
      </div>
      <base-btn class="button-fluid" :data="add"></base-btn>
      <input type='file'
              name='programlogo'
              class="photo--uploader-hidden"
              accept="image/*"
              :style="{ display: 'none' }"
              @change="updateValue($event.target.files[0])">
    </div>

    <div class="programimages--body">
      <div class="programimages--empty" v-if="!imageFiles || imageFiles.length < 1">
        <div class="empty--text">
          <p>Add some photos to show off how great your program is!</p>
          <a class="empty--text--link noselect txt-lightmagenta">Click here to get started</a>
        </div>
      </div>
      <div class="programimages--images" v-if="imageFiles.length > 0">
      </div>
    </div>

  </div>
</template>

<script>
import baseBtn from './base-btn.vue';

export default {
  name: 'programImages',
  components: {
    baseBtn
  },
  props: {
    data: Array,
    title: String,
    program_status: String
  },
  mounted () {
    this.$nextTick(function() {
      this.imageFiles.forEach(image => {
        this.readImagesFromFile(image);
      });
    });
  },
  data() {
    return {
      imageFiles: this.data,
      images: [],
      add: {
        text: 'Add Images',
        iconString: 'button--icon-right fa fa-times-circle-o',
        action: (e) => {
          this.triggerUpload(e);
        }
      }
    }
  },
  methods: {
    readImagesFromFile: function(file) {
      // check file for type
      if (file.type.match(/image.*/)) {
        const reader = new FileReader();

        reader.onload = function(e) {
          const imgLocation = document.querySelector('.programimages--images');
          const img = new Image();
          img.src = reader.result;
          img.alt = 'Image of the program';
          img.classList.add('programimages--image');
          imgLocation.appendChild(img);
        }
        reader.readAsDataURL(file);
      }
    },
    triggerUpload: function(e) {
      e.preventDefault();
      const uploader = document.querySelector('.photo--uploader-hidden');
      uploader.click();
    },
    updateValue: function(value) {
      this.readImagesFromFile(value);
      this.$store.commit('addImageToProgram', {
        program_status: this.program_status,
        title: this.title,
        img: value
       });
    }
  }
}
</script>

<style lang="sass" scoped>
  .fa-times-circle-o
    font-size: 14px
    transform: rotate(45Deg)

  .container--programimages
    display: flex
    flex-direction: column
    width: 100%
    border: 1px solid #C6C5C1
    border-radius: 2px
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

  .programimages--header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 7px 14px
    background-color: #f6f6f6
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

  .header--title
    display: flex
    justify-content: center
    align-items: center

    h2
      padding: 0
      padding-left: 7px
      font-size: 22.4px

  .programimages--body
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 14px
    overflow: hidden
    
    p
      font-size: 14px

  .empty--text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

  .programimages--empty
    display: flex

  .empty--text--link
    display: flex
    align-items: center
    font-size: 12px

    span
      padding-left: 4px

    &:hover,
    &:focus
      color: #BC1172
      transform: translateY(-1px)

    &:active
      transform: translateY(1px)

  .empty--photos
    display: none

    @media screen and (min-width: 700px)
      display: flex

  .container--photo
    display: flex
    width: 100px
    height: 150px
    padding: 14px 7px 44.8px 7px
    background-color: grey
    border-radius: 2px
    box-shadow: 0 4px 6px rgba(#262626, 0.11)
    transform: translateY(50px)

    @media screen and (min-width: 480px)
      width: 150px
      height: 200px

    &:nth-child(1)
      z-index: -1
      transform: translateX(30px) rotate(-15Deg) translateY(50px)

    &:nth-child(3)
      z-index: -1
      transform: translateX(-30px) rotate(15Deg) translateY(50px)
    
  .dummy-red
    width: 100%
    height: 100%
    background-color: red
</style>