<template>
  <div class="container--message">

    <div class="message--photos">
      <div class="photos--left">
        <div class="photo photo-tilt-left"></div>
        <div class="photo photo-tilt-right"></div>
      </div>
      <div class="photos--right">
        <div class="photo photo-tilt-left"></div>
        <div class="photo photo-tilt-right"></div>
      </div>
    </div>

    <base-instruction class="instruction"
                 :data="data.message"></base-instruction>

    <base-btn class="btn"
         :data="data.btn"></base-btn>
  </div>
</template>

<script>
import baseInstruction from './base-instruction.vue';
import baseBtn from './base-btn.vue';

export default {
  name: 'actionMessage',
  components: {
    baseInstruction,
    baseBtn
  },
  props: {
    data: Object
  }
}
</script>

<style lang="sass" scoped>
  .container--message
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 44.8px 14px
    border: 1px solid #E6E5E0
    box-shadow: 0 4px 6px rgba(#262626, 0.11)
    overflow-y: hidden // will hide x unless no absolute positioned elements

  .container--message .instruction
    padding-bottom: 22.4px
    text-align: center
    z-index: 1

    h2
      padding: 0

  .photo
    display: inline-block
    width: 75px
    height: 100px
    padding: 14px 7px 44.8px 7px
    border-radius: 2px
    box-shadow: 0 4px 6px rgba(#262626, 0.11)

    @media screen and (min-width: 710px)
      width: 120px
      height: 160px


  .photos--left
    position: absolute
    bottom: 0
    left: -20px

    .photo-tilt-left
      background-color: red
      transform: translateX(25px) rotate(-15deg)

      @media screen and (min-width: 710px)
        transform: translateX(30px) rotate(-15Deg)

    .photo-tilt-right
      background-color: green
      transform: translate(-15px) rotate(15Deg) translateY(20px)

      @media screen and (min-width: 710px)
        transform: translateX(-30px) rotate(15Deg) translateY(50px)

  .photos--right
    position: absolute
    bottom: 0
    right: -20px

    .photo-tilt-left
      background-color: red
      transform: translateX(60px) rotate(15Deg)

      @media screen and (min-width: 710px)
        transform: translateX(90px) rotate(15Deg)

    .photo-tilt-right
      background-color: green
      transform: translate(-60px) rotate(-15Deg) translateY(20px)

      @media screen and (min-width: 710px)
        transform: translateX(-90px) rotate(-15Deg) translateY(50px)
</style>