<template>
  <div class="container--description">

    <div class="description--header">
      <h2>Categories</h2>
    </div>

    <div class="description--body">
      <div class="category">
        <i class="fa fa-user-o"></i>
        <span class="category--item bold" v-for="category in ageGender.categories" :key="category.id">{{ category.name }}:</span>
        <span class="category--item" v-for="subcategory in ageGender.subcategories" :key="subcategory.id">{{ subcategory.name }},</span>
      </div>
      <div class="category">
        <i class="fa fa-tag"></i>
        <span class="category--item bold" v-for="category in categoryActivity.categories" :key="category.id">{{ category.name }}:</span>
        <span class="category--item" v-for="subcategory in categoryActivity.subcategories" :key="subcategory.id">{{ subcategory.name }}</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'categoryCard',
  props: {
    data: Array
  },
  created () {
    // age and gender category/subcategory
    this.data[0].categories.forEach(category => {
      category.options.forEach(option => {
        if (option.checked) {
          this.ageGender.subcategories.push(option);
          if (!this.ageGender.categories.includes(category)) this.ageGender.categories.push(category);
        }
      });
    });
    // category and activity categories/subcategories
    this.data[1].categories.forEach(category => {
      category.options.forEach(option => {
        if (option.checked) {
          this.categoryActivity.subcategories.push(option);
          if (!this.categoryActivity.categories.includes(category)) this.categoryActivity.categories.push(category);
        }
      });
    });
  },
  data() {
    return {
      ageGender: {
        categories: [],
        subcategories: []
      },
      categoryActivity: {
        categories: [],
        subcategories: []
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--description
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  border: 1px solid $ltGray
  border-radius: 2px
  box-shadow: 0 4px 6px rgba($blk, 0.11)

.description--header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 7px $s0
  background-color: $cardBg
  box-shadow: 0 4px 6px rgba($blk, 0.11)

  h2
    padding: 0
    font-size: 22.4px

.description--body
  display: flex
  flex-direction: column
  padding: $s0
  
  p
    font-size: 12px

  @media screen and (min-width: 700px)
    flex-direction: row

.fa
  margin-right: 4px
  color: $ltMagenta

.category
  display: flex
  flex-wrap: wrap
  padding-bottom: $s0

  @media screen and (min-width: 700px)
    padding-right: $s0

.category--item
  display: flex
  padding-right: 4px
  text-transform: Capitalize
</style>