<template>
  <div class="instruction">
    <h2 v-html="data.heading"></h2>
    <span class="instruction--note"
          v-if="data.note"
          v-html="data.note"></span>
  </div>
</template>

<script>
  export default {
    name: 'baseInstruction',
    props: {
      data: Object
    }
  }
</script>

<style lang="sass" scoped>
.instruction
  span
    font-size: inherit
</style>
