<template>
  <div class="input--container"
       :class="inputState">
    <label class="input--label-overlayed" 
           :for="data.name"
           :class="{ 'label-raised': data.type === 'date' || data.type === 'photo' || data.value || data.type === 'select' }">{{ data.lbl }}</label>
    <input  v-if="data.type === 'text'"
           class="input"
           ref="input"
           :type="data.type"
           :name="data.name"
           :value="data.value"
           :autocomplete="computedAutoComplete"
           @input="updateValue($event.target.value)"
           @focus="initLblState"
           @keydown.enter="blurInput"
           @blur="blurInput">
    <input v-else-if="data.type === 'password'"
           class="input"
           ref="input"
           :type="data.type"
           :name="data.name"
           :value="data.value"
           :autocomplete="computedAutoComplete"
           @input="updateValue($event.target.value)"
           @focus="initLblState"
           @keydown.enter="blurInput"
           @blur="blurInput">
    <input v-else-if="data.type === 'date'"
           class="input"
           ref="input"
           :type="data.type"
           :name="data.name"
           :value="data.value"
           :autocomplete="computedAutoComplete"
           @input="updateValue($event.target.value)">
    <input v-else-if="data.type === 'photo'"
           class="input"
           ref="input"
           type="file"
           accept="image/*"
           @change="updateValue($event.target.files[0])"
           :name="data.name">
    <v-select v-else-if="data.type === 'select'" 
              v-model="data.value" 
              :options="data.options"></v-select>
    <textarea v-else
              rows="2"
              class="textarea"
              ref="textarea"
              :name="data.name"
              :value="data.value"
              @input="updateValue($event.target.value)"
              @focus="initLblState"
              @keydown.enter="blurInput"
              @blur="blurInput"></textarea>
    
  </div>
</template>

<script>
  export default {
    name: 'baseInput',
    props: {
      data: Object
    },
    data() {
      return {
        input: this.data,
      }
    },
    computed: {
      inputState: function() {
        return {
          // 'input-good': this.data.state === true,
          // 'input-error': this.data.state === false,
          // '': this.data.state === null
        }
      },
      computedAutoComplete: function() {
        return {
          'new-password': this.input.type === 'password',
          'confirm-password': this.input.type === 'password'
        }
      }
    },
    watch: {
      data: function() {
        this.inputElement = document.querySelector('.input--container .input');
        this.onload(this.inputElement);
      },
      'input.state': function() {
        if (this.input.state === false) {
          return this.input.lbl = this.input.helper;
        }
        this.input.lbl = this.data.lbl;
      }
    },
    methods: {
      raiseLabel: function(input) {
        if (!input) return;
        const inputLbl = input.previousElementSibling;
        if (inputLbl.classList.contains('js--label-raised')) return;
        inputLbl.style.transform = 'translateY(0px)';
        inputLbl.style.fontSize = '12px';
        inputLbl.classList.add('js--label-raised');
      },
      initLblState: function(e) {
        const input = e.target;
        if (input.value) return;
        this.raiseLabel(input);
      },
      onload: function(input) {
        if (!input.value) return;
        this.raiseLabel(input);
      },
      blurInput: function(e) {
        const input = e.target;
        if (!input) return;
        if (input.value) {
          return;
        } else {
          const inputLbl = input.previousElementSibling;
          inputLbl.classList.remove('js--label-raised');
          inputLbl.removeAttribute('style');
          return;
        }
      },
      updateValue: function(value) {
        // image value
        if (value.type) {
          this.input.state = true;
          this.$emit('input', value);
          return;
        }

        const formattedValue = value.trim();

        if (!formattedValue) {
          this.input.state = false;
          // return;
        }

        // if value was not normalized, manually force it
        if (formattedValue !== value) {
          this.$refs.input = formattedValue;
        }
        this.input.state = true;
        this.$emit('input', formattedValue);
      }
    }
  }
</script>

<style lang="sass" scoped>
.fa-exclamation-triangle,
.fa-check,
.fa-cog
  position: absolute
  bottom: 8px
  right: 0px
  font-size: 14px
  visibility: hidden
.color-red
  color: red
.color-grey
  color: #e6e5e0
.color-green
  color: green

.input--container
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start
  position: relative
  width: 300px
  margin: 24px 0
  margin-right: 14px

  &:hover
    .input--label-overlayed
      color: #8c1759
    .input
      border-bottom-color: #8c1759
  
.input--label-overlayed
  max-width: 300px
  font-family: "canada-type-gibson", sans-serif
  font-size: 14px
  transition: 0.2s ease-out
  // input height = padding (16px) + font-size (14px+2) + border (1px) = 33px
  // label height = font-size (14px+2) = 16px
  // label should be 8px above border of input
  transform: translateY(27px)
  z-index: -1

  &:disabled
    color: #e6e5e0
    
    &:hover,
    &:focus
      color: #e6e5e0

.input
  max-width: 300px
  width: 100%
  padding: 8px 0
  font-family: "canada-type-gibson", sans-serif
  font-size: 14px
  border: 0
  border-bottom: 1px solid #262626
  outline: none
  background-color: transparent

  &:focus
    border-bottom-color: #8c1759

  &:disabled
    border-bottom-color: #e6e5e0
    
    &:hover,
    &:focus
      border-bottom-color: #e6e5e0

.textarea
  max-width: 300px
  width: 100%
  border: 0
  border-bottom: 1px solid #262626
  background-color: transparent
  outline: none

.input--container.input-disabled
  color: #e6e5e0
  &:hover
    .input--label-overlayed
      color: #e6e5e0
    .input
      border-bottom-color: #e6e5e0
.input-error
  .input--label-overlayed
    color: red
  .input
    border-bottom-color: #262626
  .fa.icon--error
    visibility: visible
  &:hover
    .input--label-overlayed
      color: red
    .input
      border-bottom-color: #262626
.input-checking
  .input--label-overlayed
    color: #262626
  .input
    border-bottom-color: #262626
  .fa.icon--checking
    visibility: visible
  &:hover
    .input--label-overlayed
      color: #262626
    .input
      border-bottom-color: #262626
.input-good
  .input--label-overlayed
    color: #262626
  .input
    border-bottom-color: #262626
  .fa.icon--good
    visibility: visible
  &:hover
    .input--label-overlayed
      color: #262626
    .input
      border-bottom-color: #262626



// shortcut class for label
.label-raised
  transform: translateY(0px);
  font-size: 12px
</style>