<template>
  <div class="component--filters">
    <div class="filter">
      <base-btn class="button-fluid filter--rating" :data="ratingFilter" v-if="data.rating"></base-btn>
      <base-btn class="button-fluid filter--date" :data="dateFilter" v-if="data.date"></base-btn>
    </div>
  </div>
</template>

<script>
import baseBtn from '../base/base-btn.vue';

export default {
  name: 'filter',
  components: {
    baseBtn
  },
  props: {
    data: Object
  },
  data() {
    return {
      ratingFilter: {
        text: 'Rating',
        iconString: 'fa fa-arrows-v',
        action: () => {
          console.log('FILTER PROGRAM CARDS BY REVIEWS');
        }
      },
      dateFilter: {
        text: 'Date',
        iconString: 'fa fa-arrows-v',
        action: () => {
          console.log('FILTER PROGRAM CARDS BY DATE');
        }
      }
    }
  }
}
</script>

<style lang="sass">
@import '../../sass/_variables.sass'

.component--filters
  position: relative
  width: 100%
  margin-bottom: -14px
  background-color: inherit

.filter
  position: relative
  width: 100%
  height: 46px

.button.filter--rating
  position: absolute
  top: 0
  right: 300px
  min-width: none
  width: 100px

.button.filter--date
  position: absolute
  top: 0
  left: $s0 * 2
  min-width: none
  width: 100px
</style>