<template>
  <div class="container--sorts">

    <div class="sorts--left">
      <div class="sort sorts--date"
           v-if="states.date">
        <Btn class="btn" :data="date"></Btn>
      </div>

      <div class="sort sorts--program"
           v-if="states.program">
        <Btn class="btn" :data="program"></Btn>
      </div>
    </div>

    <div class="sorts--right">
      <div class="sort sorts--location"
           v-if="states.address">
        <Btn class="btn" :data="address"></Btn>
      </div>

      <div class="sort sorts--review"
           v-if="states.review">
        <Btn class="btn" :data="review"></Btn>
      </div>
    </div>

  </div>
</template>

<script>
import Btn from './Btn.vue';

export default {
  name: 'sort',
  components: {
    Btn,
  },
  props: {
    data: Object
  },
  data() {
    return {
      states: this.data,
      date: {
        iconString: 'fa fa-arrows-v',
        text: 'Date',
        action: this.test
      },
      program: {
        iconString: 'fa fa-arrows-v',
        text: 'Program',
        action: this.test
      },
      address: {
        iconString: 'fa fa-arrows-v',
        text: 'address',
        action: this.test
      },
      review: {
        iconString: 'fa fa-arrows-v',
        text: 'Review',
        action: this.test
      }
    }
  },
  methods: {
    test: function() {
      console.log('test');
    }
  }
}
</script>

<style lang="sass" scoped>
  .container--sorts
    display: none

    @media screen and (min-width: 700px)
      display: flex
      align-items: center
      width: 100%
      background-color: #f6f6f6

    i
      padding-right: 3px

  .sort--text
    font-size: 12px
    text-transform: uppercase

  .sorts--left
    display: flex
    align-items: center
  
  .sorts--right
    display: flex
    align-items: center

  .sort
    display: flex
    justify-content: center
    align-items: center

    .btn
      margin: 0
      color: #464646
      font-size: 10px
      border: 0
      border-radius: 0
      background-color: transparent
      box-shadow: none

      &>*
        color: #464646
        font-size: 10px

      @media screen and (min-width: 710px)
        border: 0

      &:hover,
      &:focus
        background-color: transparent
        box-shadow: none

        &>*
          color: #8C1759 !important
</style>