<template>
  <div class="container--flash" v-if="state">
    <p class="flash--msg">{{ flash }}</p>
    <button class="flash--button" @click="close">
      <i class="fa fa-times-circle-o"></i>
    </button>
  </div>

</template>

<script>
export default {
  name: 'flash',
  props: {
    data: String
  },
  data() {
    return {
      flash: this.data,
      state: true
    }
  },
  methods: {
    close: function() {
      this.state = false;
    }
  }
}
</script>

<style lang="sass" scoped>
  .container--flash
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 7px
    background-color: #BC1172
    background: linear-gradient(to right, #BC1172, #8C1759)

  .flash--msg
    display: flex
    font-size: 12px
    color: #f6f6f6

  .flash--button
    display: flex
    justify-content: center
    align-items: center
    padding: 7px
    color: #f6f6f6
    font-size: 16px
    border: 0
    background-color: transparent
    outline: none
</style>