<template>
  <div class="container--programcard">

    <div class="program--content">
      <div class="program--body">
        <span class="txt-lightmagenta">Premium Program</span>
        <h2>{{ data.title }}</h2>
        <h3>{{ data.address }}</h3>
      </div>

      <div class="program--statistics">

        <base-stats :data="statistics"></base-stats>

      </div>

    </div>

    <div class="program--btns">
      <base-btn class="button-fluid"
          :data="viewBtn"></base-btn>
      <base-btn class="button-fluid"
           :data="editBtn"></base-btn>
    </div>

  </div>
</template>

<script>
import baseStats from './base-stats.vue';
import baseBtn from './base-btn.vue';

export default {
  name: 'programCard',
  components: {
    baseStats,
    baseBtn
  },
  props: {
    data: Object
  },
  data() {
    return {
      statistics: {
        reviews: {
          iconString: 'fa fa-star txt-lightmagenta',
          complex: true,
          quantity: this.data.reviews.length,
          name: 'Reviews',
          rating: 0,
          helper: 'out of 5'
        },
        // calendar: {
        //   iconString: 'fa fa-calendar',
        //   complex: false,
        //   quantity: this.data.kalendaroo.length,
        //   name: 'Kalendaroo',
        //   rating: null
        // },
        // news: {
        //   iconString: 'fa fa-newspaper-o',
        //   complex: false,
        //   quantity: this.data.news.length,
        //   name: 'News',
        //   rating: null
        // },
        images: {
          iconString: 'fa fa-picture-o',
          complex: false,
          quantity: this.data.images.length,
          name: 'Images',
          rating: null
        }
      },
      viewBtn: {
        text: 'View Live',
        iconString: 'button--icon-right fa fa-arrow-circle-o-right',
        action: () => {
          this.$router.push({ name: 'Program', params: { program: this.data } });
        }
      },
      editBtn: {
        text: 'Edit Program',
        iconString: 'button--icon-right fa fa-pencil',
        action: () => {
          this.$router.push({ name: 'Edit Program', params: { program: this.data } });
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../sass/_variables.sass'

.container--programcard
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  width: 100%
  margin-bottom: 22.4px
  border: 1px solid $ltGray
  border-radius: 2px
  box-shadow: 0 4px 6px rgba($blk, 0.11)

  @media screen and (min-width: 710px)
    justify-content: flex-start

.program--content
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  padding: 7px

.program--body
  display: flex
  flex-direction: column
  flex: 1
  width: 100%
  padding: 14px

  span
    font-size: 10px

  h2
    padding: 0
    padding-bottom: 3px
    font-size: 22.4px
    font-weight: 600
  
  h3
    padding: 0

.program--statistics
  display: none
  
  @media screen and (min-width: 500px)
    display: flex

.program--btns
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
  border-top: 1px solid $ltGray
</style>