<template>
  <div>
    <iframe src="https://giphy.com/embed/48FhEMYGWji8" width="480" height="310" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spongebob-squarepants-leave-smooth-48FhEMYGWji8">via GIPHY</a></p>
    <iframe src="https://giphy.com/embed/Z45Asy2OUNmuI" width="480" height="425" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/community-joel-mchale-jeff-winger-Z45Asy2OUNmuI">via GIPHY</a></p>
  </div>
</template>

<script>
export default {
  name: 'placeholder'
}
</script>

<style lang="sass">

</style>