<template>
  <div id="app">
    <side-nav id="side-nav"></side-nav>
    <router-view></router-view>
  </div>
</template>

<script>
import sideNav from './components/main/side-nav.vue';

export default {
  name: 'app',
  created () {
    // api call for programs
    this.$store.dispatch('programAPI');
    // call action from our vuex store (actions.js)
  },
  components: {
    sideNav
  }
}
</script>

<style lang="sass">
@import './sass/_variables.sass'

// TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY
// TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY
// TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY
// TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY
// TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY TYPEOGRAPHY TYPOGRAPHY
p,
a,
li,
figcaption,
label,
blockquote,
hr,
span,
time,
h1,
h2,
h3,
h4
  padding: 0
  margin: 0
  color: $ltBlk
  font-family: $gibson
  font-weight: 400
  font-kerning: normal

p,
a,
li,
figcaption,
label,
blockquote,
hr
  font-size: $s0
  line-height: 1.6
  text-align: left

  @media screen and (min-width: $mobile)
    font-size: 16px

span
  font-size: inherit

b
  font-weight: 600

a
  cursor: pointer
  text-decoration: none

.link
  color: $ltMagenta

  &:hover,
  &:focus
    color: $ltBlk

  &:active
    color: $dkMagenta

  i
    padding-left: 7px

h1,
h2,
h3,
h4
  line-height: 1.1
  letter-spacing: 0.3px
  font-kerning: normal

// Defined for mobile-first
h1
  padding-bottom: $s1
  font-size: $s1 // 22.4px
  text-align: left

  @media screen and (min-width: 500px)
    font-size: $s2 // 44.8px

h2
  padding-top: $s2
  font-size: $s0 // 14px
  font-weight: 500

  @media screen and (min-width: 500px)
    font-size: $s1 // 22.4px

h3
  padding-top: $s1
  padding-bottom: $s0 / 2
  font-size: 12px
  padding-top: 18px
  font-weight: 400

  @media screen and (min-width: 500px)
    font-size: $s0 // 14px

.text-small
  font-size: 12px

.text-s0
  font-size: ms(0) + 'px'

.text-s02
  font-size: ms(0) + 4.2px

.text-s1
  font-size: ms(1) + 'px'

.text-s3
  font-size: ms(2) + 'px'

.center
  text-align: center

.left
  text-align: left !important

.uppercase
  text-transform: uppercase

.underline
  text-decoration: underline

.medium
  font-weight: 500

.bold
  font-weight: 600

.italics
  font-style: italics

.dots
  list-style: disc


// BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE
// BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE
// BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE
// BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE
// BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE BASE


*
	box-sizing: border-box

body
  max-width: 1200px
  margin: 0 auto
  background-color: white


ul
  padding: 0
  margin: 0

li
  list-style: none

#app
  display: flex
  flex-wrap: nowrap
  max-width: 1200px
  margin: 0 auto

#sideNav
  display: flex


#mainContent
  display: flex
  flex: 1

  @media screen and (min-width: 700px)
    margin: 0 auto


#bottomNav
  display: flex


// HELPER CLASSES HELPER CLASSES HELPER CLASSES HELPER CLASSES
// HELPER CLASSES HELPER CLASSES HELPER CLASSES HELPER CLASSES
// HELPER CLASSES HELPER CLASSES HELPER CLASSES HELPER CLASSES
// HELPER CLASSES HELPER CLASSES HELPER CLASSES HELPER CLASSES
// HELPER CLASSES HELPER CLASSES HELPER CLASSES HELPER CLASSES


.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.negate-spacing
  margin: 0
  padding: 0

.negate-padding-top
  padding-top: 0

.negate-padding-bottom
  padding-bottom: 0

.container--flex-row
  display: flex
  flex-direction: row

.txt-lightmagenta
  color: $ltMagenta


//////////////
// FROM MAIN CONTENT
/////////////

main
  max-width: 950px
  width: 100%
  min-height: calc(100vh - 58px)
  height: 100%
  margin-top: 58px
  border: 1px solid $ltGray

  @media screen and (min-width: 700px)
    height: 100vh
    margin: 0
    overflow: scroll

.container--header
  display: flex
  flex-direction: column
  padding: $s0 $s1 $s0
  margin-bottom: $s1
  border-bottom: 1px solid $ltGray
  box-shadow: $box-shadow

.header--top
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100%

  @media screen and (min-width: 700px)
    flex-direction: row

  .top--left
    display: flex
    flex: 1
    justify-content: center
    align-items: center

    h1
      padding: 0

    @media screen and (min-width: 700px)
      justify-content: flex-start

  .top--left--heading
    text-align: center

    @media screen and (min-width: 700px)
      text-align: left

  .top--right
    display: none

    @media screen and (min-width: 850px)
      display: flex
      flex-direction: column
      width: fit-content

.header--bottom
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  width: 100%
  margin-top: $s0

  @media screen and (min-width: 700px)
    justify-content: flex-start

// label.button--label
//   color: $ltMagenta
//   font-size: 12px

//   @media screen and (min-width: 700px)
//     font-size: inherit

.container--filter
  display: none

  @media screen and (min-width: 700px)
    display: flex

.container--content
  display: flex
  padding: $s1

  >*
    width: 100%

.container--bottomnav
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100px
  padding: $s1
  margin: 0
  margin-top: auto
</style>
